{% extends "site/site_base.html" %}
{% block title %}Finance: Import Profiles{% endblock %}

{% block append_to_head %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
{% endblock %}

{% block content %}
<div id="import-profiles" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Import Profiles" id="import_profiles" %}

    {% comment %} Name and Description Area: {% endcomment %}
    <div id="import_profile_details_container" class="container rounded bg-dark p-2 h-25 mh-25">
        <div>
            <label for="import-profile-selector" class="form-label">
                Select Import Profile
            </label>
            <br>
            <select class="form-select"
                    aria-label="Select Import Profile"
                    id="import-profile-selector"
                    name="import_profile_selector"
                    tooltip="Select the import profile to edit."
                    hx-get="{% url 'finance:import_profile_controls' %}"
                    hx-trigger="load, change"
                    hx-target="#import_profile_controls">
                {% comment %} Always ahve the "Create New" entry on top: {% endcomment %}
                <option value="-1">Create New</option>
                {% comment %} Then load the profiles from the database: {% endcomment %}
                {% for profile in profiles %}
                    {% if selected_import_profile == profile.id %}
                        <option selected value="{{ profile.id }}">{{ profile.name }}</option>
                    {% else %}
                        <option value="{{ profile.id }}" >{{ profile.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <br>
    <div id="import_profile_details_container">
        <div id="import_profile_controls" class="container rounded bg-dark p-2 h-25 mh-25">
            {% include 'finance/partials/import_profile_controls.html' %}
        </div>
        <br>
        <div id="import_profile_mapping_area">
            {% include 'finance/partials/import_profile_mappings.html' %}
        </div>
    </div>
{% endblock %}