
.bg-primary, .btn-primary {
    {% if color %}
        background-color: var(--bs-{{color}}) !important;
        color: var(--bs-{{color}}-font);
    {% else %}
        background-color: var(--bs-blue) !important;
        color: var(--bs-blue-font);
    {% endif %}
}


.bg-primary-subtle {
    {% if color %}
        background-color: color-mix(in srgb, var(--bs-{{color}}) 30%, #ffffff00) !important;
    {% else %}
        background-color: color-mix(in srgb, var(--bs-blue) 30%, #ffffff00) !important;
    {% endif %}
}

.text-primary {
    color: var(--bs-{{color}}-subtle) !important;
}

.border-primary, .btn-primary {border-color: var(--bs-{{color}}) !important;}

.active {
    color: var(--bs-{{color}}) !important;
    background-color: var(--bs-dark) !important;
}


{% if cursor %}
    html, :root, head, body, main, footer, a, textarea, select, option, input,
    button, [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled),
    .rd-day-body, .rd-day-head {
        cursor:none !important;
    }
{% endif %}