{% load static %}
<script src="{% static 'js_imports/jquery-3.7.1.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'bootstrap-5.3.8/js/bootstrap.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
    /* Preload Constants */
    const languageCode = '{{request.session.lang_code}}'

    /* Load the translated JSON into browser memory. */ 
    var localAlertText = null
    $.getJSON('/static/localization/{{request.session.lang_code}}/alerts.json', 
        function(json_data){localAlertText = json_data})

    function autoCloseAlert(alert){
        setTimeout(function() {alert.close();}, 5000);
    }

    var alertContainer = $("#alert-container")
    var alertList = []

    function createAlert(text = "", key = "", type = "warning") {

        if (localAlertText && localAlertText[key]){
            text = localAlertText[key];
        }

        alertList.push(alertContainer.prepend(
            `<div class="alert alert-dismissible fade show m-0 mt-1 alert-${type}" role="alert" style="pointer-events: auto;"><span>${text}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`).children()[0]);

        setTimeout(function() { 
            new bootstrap.Alert(alertList.shift()).close();
        }, 4000);
    }

    const popupWindow = document.querySelector('#popup-container');

    popupWindow.style.display = "none"

    function openPopup() {
        popupWindow.style.display = "block"
    }
</script>