{% load static %}
<div id="overlay" class="vw-100 vh-100 overflow-hidden position-absolute" style="pointer-events: none; z-index: 1050;">
    <svg id="cursor-base" class="position-absolute" style="display: none; z-index: 1040;" width="600" height="220" xmlns="">
        <image id="cursor-shadow" x="7" y="4" eight="32" width="32" fill="black" href="{% static 'icons/cursor/cursor-regular-shadow.svg' %}" />
        <image id="cursor-image" height="32" width="32" fill="white" href="{% static 'icons/cursor/cursor-regular.svg' %}" />
    </svg>
    <div id="screen-transition" class="position-absolute vw-100 vh-100 top-0 start-0" style="z-index: 1010;">
        <img id="loading-arrow" class="m-auto d-block position-absolute top-50 start-50" height="150" width="150" src="{% static 'icons/cursor/arrow-repeat.svg' %}" alt="">
    </div>
    <div id="tooltip" class="position-absolute p-2 rounded bg-primary bg-gradient border border-2 border-dark shadow-sm fs-sm" style="display: none; z-index: 1041; pointer-events: none;"></div>
</div>