{% load static %}
{% load tz %}
{% timezone "Europe/Paris" %}
<!doctype html>
<html lang="en" data-bs-theme="dark" {% include 'site/site_bg_img.html' with image=request.user.background_image %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} FamilyThings</title>
  {% include 'site/site_style_imports.html' %}
  {% include 'site/site_style.html' %}
  <style>
    {% include 'site/site_style_overrides.html' with color=request.user.color cursor=request.session.use_custom_cursor %}
  </style>
  {% block append_to_head %}{% endblock %}
</head>
<div id="popup-container" class="position-absolute vw-100 vh-100" style="display: none; z-index: 1051;">
    <div id="popup-cover" class="position-absolute vw-100 vh-100 top-0 start-0 no-ptr-evt"></div>
    <div id="popups" class="position-absolute start-50 top-50 translate-middle overflow-visible">
      {% block popups %}{% endblock %}
    </div>
</div>
{% include 'site/site_overlay.html' with messages=messages %}
{% include 'site/site_js_preload.html' %}
{% include 'site/site_header.html' with show_time=True %}
<body>
  <main class="container px-4 py-2 mt-3 m-auto">
    {% block content %}
    {# Content will be injected here #}
    {% endblock %}
  </main>
</body>
{% include 'site/site_footer.html' %}
{% include 'site/site_js.html' with lang_code=lang_code %}
</html>
{% endtimezone %}