<footer
    class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center px-5 pt-3 pb-4 bg-body-tertiary border-top">
    <div id="app-info" class="d-flex justify-content-between" style="width: 100%;">
        <div>
            <div aria-label="Bootstrap">FamilyThings <small>v0.1 DEMO</small></div>
            <div><small><span id="footer-license-1">This program is running under the</span>
                <a id="footer-license-2" href="https://github.com/WimpieRatte/FamilyThings?tab=MIT-1-ov-file">MIT
                            Licence</a><span id="footer-license-3">.</small></div>
        </div>
        <div>
            <div class="text-end">
                <button class="border-0">🇺🇸</button>
                <button class="border-0">🇩🇪</button>
            </div>
            <div class="text-end">
                <a id="footer-github" class="ms-1" href="https://github.com/WimpieRatte/FamilyThings" aria-label="Bootstrap">
                    <i class="bi bi-github pe-2"></i>GitHub</a>
                <a id="footer-contact" class="ms-1" href="https://github.com/WimpieRatte/FamilyThings" aria-label="Bootstrap">Contact</a>
            </div>
        </div>
    </div>
</footer>