{% load static %}
<script src="{% static 'js_imports/jquery-3.7.1.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'bootstrap-5.3.8/bootstrap.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
    /* Preload Constants */
    const languageCode = '{{request.session.lang_code}}'

    /* Load the translated JSON into browser memory. */
    var localAlertText = null
    $.getJSON('/static/localization/{{request.session.lang_code}}/alerts.json',
        function(json_data){localAlertText = json_data})

    function autoCloseAlert(alert){
        setTimeout(function() {alert.close();}, 5000);
    }

    var alertContainer = $("#alert-container")
    var alertList = []

    function createAlert(text = "", key = "", type = "warning") {

        if (localAlertText && localAlertText[key]){
            text = localAlertText[key];
        }

        alertList.push(alertContainer.prepend(
            `<div class="alert alert-dismissible fade show m-0 mt-1 alert-${type}" role="alert" style="pointer-events: auto;"><span>${text}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`).children()[0]);

        setTimeout(function() {
            new bootstrap.Alert(alertList.shift()).close();
        }, 4000);
    }


    // Popups
    const popupWindow = document.querySelector('#popup-container');
    const popups = document.getElementById('popups');

    if (popupWindow) {
        popupWindow.style.display = "none"

        var activePopup = ""
        function openPopup(name = ""){
            popupWindow.style.display = "block";
            popups.style.animationFillMode = "forwards";
            popups.style.animation = "popup-enter 0.4s ease-out 1";
            main.style.pointerEvents = "none";
            header.style.pointerEvents = "none";

            if (name != "") {
                let targetPopup = document.getElementById(name);
                targetPopup.setAttribute("data-show-icons", true)
                targetPopup.style.display = "block";
                activePopup = name;
            }
        }

        function closePopup(){
            popupWindow.style.display = "none";
            main.style.pointerEvents = "initial";
            header.style.pointerEvents = "initial";

            if (activePopup != "") {
                document.getElementById(activePopup).style.display = "none";
                activePopup = "";
            }
            popups.style.animation = "";
        }

        function movePopup() {
            popups.style.animationFillMode = "forwards";
            popups.style.animation = "popup-leave 0.45s ease-in 1";

            setTimeout(function(){
                closePopup();
            }, 500)
        }

        function movePopupDown() {
            popups.style.animationFillMode = "backwards";
            popups.style.animation = "popup-leave-down 0.25s linear 1";

            setTimeout(function(){
                closePopup();
            }, 330)
        }

        function hidePopupIcons() {
            if (activePopup != "") {
                document.getElementById(activePopup).setAttribute("data-show-icons", false)
            }
        }
    }

    /* Loading Screen */
    const screenTransition = document.querySelector("#screen-transition");
    const loadingArrow = document.querySelector('#loading-arrow');

    function enableLoadingScreen() {
        loadingArrow.style = "opacity: 1";
        screenTransition.style.backgroundColor = "rgba(0, 0, 0, 1)";
    }
    function disableLoadingScreen() {
        loadingArrow.style = "opacity: 0";
        screenTransition.style.backgroundColor = "rgba(0, 0, 0, 0)";
    }

    // AJAX
    function basicAJAX(type = "POST", url, data) {
        enableLoadingScreen();
        return $.ajax({
            type: type, url: url, data: data,
            success: function(result) {
                if (result["alert-message"]) { createAlert(text=result["alert-message"], key="", type=result["alert-type"]); }
                disableLoadingScreen();
                return result; },
            error: function(result) {
                if (result["responseText"]) { createAlert(text=result["responseText"], key="", type="danger"); }
                disableLoadingScreen();
                return null; }
        });
    }
</script>