{% load static %}
<header class="bg-primary rounded-bottom border-bottom">
  <div class="dropdown">
    <div id="drowdown-wrapper" class="d-flex px-5 bg-body-tertiary rounded-bottom border-bottom shadow-lg">
      <ul class="nav me-auto">
        {% if request.user.is_authenticated %}
          {% include 'header/nav_item.html' with id='profile' icon='person-arms-up' label='Profile' color="#ec739cff" href='core:user_profile' tooltip='Brief overview about you and your Family.' %}
          {% include 'header/nav_item.html' with id='accomplishments' icon='award' label='Accomplishments' color="#d99d51" href='accomplishment:overview' tooltip='See and manage all of your Accomplishments.' %}
          {% include 'header/nav_item.html' with id='finance' icon='piggy-bank' label='Finance' color="#ddc67f" href='core:user_profile' tooltip='Keep your finances in check.' %}
          {% include 'header/nav_item.html' with id='calendar' icon='calendar-week' label='Calendar' color="#71d27c" href='core:user_profile' tooltip='An overview of upcoming events, holidays, etc.' %}
        {% endif %}
        {% include 'header/nav_item.html' with id='home' icon='house-door' label='Home' color="#5ccaff" href='core:home' %}
      </ul>
      <button class="dropdown-toggle text-end me-4" style="border: 0; background: 0;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="dropdown-user-icon" class="border border-3 border-primary" {% include 'header/icon.html' with icon=request.user.icon %} height="30" width="30" alt="..."><span class="ms-2">{{request.user.full_name}}</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if not request.user.is_authenticated %}
              {% include 'header/dropdown_item.html' with href='/register' id="register" icon='pencil-square' label='Register' %}
              {% include 'header/dropdown_item.html' with href='/login' id="log-in" icon='box-arrow-right' label='Log In' %}
            {% else %}
            <small id="dropdown-item-role" class="dropdown-item">{% include 'header/role_name.html' with superuser=request.user.is_superuser manager=request.user.is_manager %}</small>
              {% include 'header/dropdown_item.html' with href='/settings' id="user-settings" icon='gear' label='Settings' %}
              {% if request.user.is_superuser %}
                {% include 'header/dropdown_item.html' with href='/admin' id="admin" icon='sliders' label='Admin Page' new_tab='True' %}
              {% endif %}
              {% if request.user.is_manager %}
                {% include 'header/dropdown_item.html' with href='#' id="family-settings" icon='person-arms-up' label='Manage Family' %}
              {% endif %}
              {% include 'header/dropdown_item.html' with href='/logout' id="log-out" icon='box-arrow-right' label='Log Out' %}
            {% endif %}
          </div>
      </ul>
      </div>
  </div>
</header>