{% load static %}
<style>
    #user-icon-preview, #dropdown-user-icon {
        border-radius: 500px;
        pointer-events: auto;
    }

    .language-btn {
        border: 0 !important;
        background-color: var(--bs-tertiary-bg-rgb) !important;
    }

    .language-btn img {
        border-radius: 2px;
    }

    #user-icon-preview,
    #background-preview,
    #color-btn {
        filter: brightness(1);
        transition-duration: .25s;
        transition-property: filter;
        z-index: 100;
    }

    #user-icon-preview:hover,
    #background-preview:hover,
    #color-btn:hover {
        filter: brightness(.2);
        z-index: 80;
    }

    .role-name:has(+ .role-name)::after {
        content: ", ";
        color: #ffffff;
    }


    @media (max-width: 1350px) {
        html {
            background-size: 220vh !important;
            background-position: top center !important;
        }
    }

    @media (max-width: 800px) {
        .nav-link span, #app-info,
        #dropdownMenuButton span {
            display: none !important;
        }
        #nav-item-icon { font-size: 1.4em !important; }
        #task-item-icon, #new-accomplishment-icon { font-size: 2em !important; }
        .section {
            width: 100% !important;
        }
    }

    @media (max-width: 700px) {
        :root {
            font-size: 1.1em;
            max-width: 100vw;
            overflow-x: hidden;
        }
        #drowdown-wrapper {
            padding-left: 1rem !important;
            padding-right: 0rem !important;
        }
        #dropdown-user-icon {
            width: 35px !important;
            height: 35px !important;
        }
    }

    #screen-transition, #popup-cover {
        background-color: black;
        transition-property: background-color;
        transition-duration: 1.5s;
        transition-delay: 0.1s;
    }

    #popup-cover {
        opacity: .75;
    }

    #loading-arrow,
    #check-mark-animation {
        opacity: 1;
        transition-property: opacity;
        transition-delay: 0.1s;
    }

    #loading-arrow {
        transform-origin: 75px 75px;
        -webkit-animation:spin 0.8s linear infinite;
        -moz-animation:spin 0.8s linear infinite;
        animation:spin 0.8s linear infinite;
        z-index: 3000 !important;
        transition-duration: 0.7s;
    }

    #check-mark-animation {
        transition-duration: 0.5s;
    }

    #popups {
        animation-fill-mode: forwards !important;
        transform: translate(-50%, -50%);
    }

    @keyframes popup-enter { 
        0% { left: 0%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
        100% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
    }
    @-moz-keyframes popup-enter { 
        0% { left: 0%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
        100% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
    }
    @-webkit-keyframes popup-enter { 
        0% { left: 0%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
        100% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
    }

    @keyframes popup-leave { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 120%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
    }
    @-moz-keyframes popup-leave { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 120%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
    }
    @-webkit-keyframes popup-leave { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 120%; top: 50%; transform: translate(-50%, -50%) scale(1, .6); } 
    }

    @keyframes popup-leave-down { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 50%; top: 140%; transform: translate(-50%, -50%) scale(0.1, 1); } 
    }
    @-moz-keyframes popup-leave-down { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 50%; top: 140%; transform: translate(-50%, -50%) scale(0.1, 1); } 
    }
    @-webkit-keyframes popup-leave-down { 
        0% { left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1, 1); } 
        100% { left: 50%; top: 140%; transform: translate(-50%, -50%) scale(0.1, 1); } 
    }

    table th:first-of-type { border-top-left-radius: 5px; }
    table th:last-of-type { border-top-right-radius: 5px; }

    table tr:last-of-type td:first-of-type, table { border-bottom-left-radius: 5px !important; }
    table tr:last-of-type td:last-of-type, table { border-bottom-right-radius: 5px !important; }

    #btn-actions,
    #btn-close-popup,
    #delete-message {
        filter: grayscale(.7);
        transition-property: filter;
        transition-duration: .25s;
    }

    #btn-actions:hover, #btn-actions.show,
    #btn-close-popup:hover,
    #delete-message:hover {
        filter: grayscale(0);
    }

    .rd-day-body a {
        color: white !important;
        outline: 0 !important;
    }

    @-moz-keyframes spin { 
        0% { -moz-transform: translate(-50%,-50%) rotate(0deg); }
        100% { -moz-transform: translate(-50%,-50%) rotate(360deg); } 
    }
    @-webkit-keyframes spin { 
        0% { -webkit-transform: translate(-50%,-50%) rotate(0deg); }
        100% { -webkit-transform: translate(-50%,-50%) rotate(360deg); } 
    }
    @keyframes spin { 
        0% { 
            transform:translate(-50%,-75%) rotate(0deg); 
        } 
        100% { 
            transform:translate(-50%,-75%) rotate(360deg); 
        } 
    }

    .pop {
        transform: scale(1);
    }
    div:hover > .pop {
        animation: pop 0.2s ease-in 1;
    }
    @keyframes pop{
        33%  {transform: scale(1.2) rotate(15deg);}
    }

    .background-bi {
        color: var(--bs-{{request.user.color}});
        z-index: -1;
        opacity: .75 !important;
    }

    .bi-edit-accomp {
        top: -10% !important;
        left: -10% !important;
        font-size: 18em !important;
        transform: rotate(-33deg) !important;
        opacity: .75 !important;
    }

    .bi-edit-accomp:nth-child(2) {
        top: -160px !important;
        left: 130px !important;
        font-size: 18em !important;
        transform: rotate(-9deg) !important;
        opacity: 1 !important;
    }

    .form-control.text-center::placeholder {
        font-size: .8em !important;
    }

    .special-achievement {
        color: #ddc67f;
    }

    .nav-item[aria-expanded=true] {
        color: gray !important;
    }

    /* Plotly design overrides */
    .main-svg {
        background: 0 !important;
    }
    .js-plotly-plot .plotly, .js-plotly-plot .plotly div,
    .slicetext, .legendtext, .gtitle, .hovertext {
        font-family: "Sour Gummy", sans-serif !important;
        font-size: 1em !important;
        color: initial !important;
    }
    .gtitle, .legendtext {
        fill: var(--bs-body-color) !important;
    }
    .bg {
        fill: var(--bs-gray-700) !important;
    }
    body {
        overflow-y: hidden !important;
    }
    .hovertext {
        font-family: "Sour Gummy", sans-serif !important;
        font-size: 1em !important;
        color: initial !important;
    }

    .d-flex > p + input {
        margin-left: 1em;
    }

    /* Achievement Button Styling */
    #id_is_achievement {
        --bs-form-check-bg-image: url({% static 'icons/task/award.svg' %});
        background-size: 22px !important;
    }
    #id_is_achievement:checked {
        background-color: #e2cf20;
        border-color: #e2cf20;
        --bs-form-check-bg-image: url({% static 'icons/task/award-fill.svg' %});
    }
    #id_is_achievement:focus {
        border-color: #e2cf20;
        box-shadow: 0 0 0 0.25rem rgba(250, 228, 26, 0.25);
    }

    #accomplishment-item {
        height: 38px !important;
    }
</style>