{% load static %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    /* Custon Cursor & Little Background Movement based on the Cursor's position */
    const root = document.querySelector(":root");
    const body = document.querySelector("body");
    const overlay = document.querySelector("#overlay");
    const screenTransition = document.querySelector("#screen-transition");
    const cursor = document.querySelector('#cursor-base');
    const cursorImage = document.querySelector('#cursor-image');
    const cursorShadow = document.querySelector('#cursor-shadow');
    const loadingArrow = document.querySelector('#loading-arrow');
    const tooltip = document.querySelector('#tooltip');

    const imgCursorRegular = 'cursor-regular';
    const imgCursorText = 'cursor-text';

    cursor.style.display = "none";
    overlay.style.height = `${body.clientHeight + 70}px`;

    const updateCursorPosition = (e)=> {
        let mouseX = e.clientX
        let mouseY = e.clientY + root.scrollTop

        root.style.backgroundPositionX = e.clientX*-.01 + "px";
        root.style.backgroundPositionY = e.clientY*-.01 + "px";

        cursor.style.display = "block";
        cursor.style.transform = `translate3d(${mouseX}px, ${mouseY}px, 0)`;
        tooltip.style.transform = `translate3d(calc(${mouseX}px + 30px), calc(${mouseY}px + 30px), 0)`;

        cursorImage.src = "{{HOST}}/static/icons/cursor/" + imgCursorRegular + ".svg";
        cursorShadow.src = "{{HOST}}/static/icons/cursor/" + imgCursorRegular + "-shadow.svg";
    }
    window.addEventListener('mousemove', updateCursorPosition);
    window.addEventListener('mouseleave', updateCursorPosition);
    window.addEventListener('mouseenter', updateCursorPosition);
    window.addEventListener("scroll", updateCursorPosition);

    $("a").on( "mouseover", function() {
        cursorImage.src = "{{HOST}}/static/icons/cursor/" + imgCursorText + ".svg";
    });

    /* Tooltip */
    $(".tooltip-source").on( "mouseover", function() {
        let text = $(this).attr('data-tooltip-content')

        if (text && text != "" 
            && screenTransition.style.backgroundColor == "rgba(0, 0, 0, 0)" 
            && cursor.style.display != "none"){
            tooltip.style.display = "block";
            tooltip.textContent = $(this).attr('data-tooltip-content');
        }
        else {
            tooltip.style.display = "none";
        }

    });

    addEventListener("mouseout", (event) => {
        tooltip.style.display = "none";
    })

    /* Date&Time display */
    update_time()
    setInterval(update_time, 1000);
    async function update_time(){
        time = new Date();
        document.getElementById("datetime-display")
        .textContent = time.toLocaleString('default', { weekday: "long", year: "numeric", month: "long", day: "numeric", })
        + ' ' + time.toLocaleTimeString();
    }

    /* Localization */
    let file = '/static/localization/lang_{{request.session.lang_code}}.json'
    console.log(file)
    $.getJSON(file, function(json) {
        let json_entries = Object.entries(json)

        for (let i = 0; i < json_entries.length; i++) {
            let target = json_entries[i][0];
            let new_text = json_entries[i][1];

            let element = document.querySelector("#" + target);

            if (element) {
                switch (element.localName) {
                    case "textarea":
                        element.placeholder = new_text;
                        break;
                    case "select":
                        let children = element.children;
                            for (let i = 0; i < children.length; i++) {
                                children[i].textContent = new_text[i]
                            }
                        break;
                    default:
                        element.textContent = new_text;
                        break;
                }
            }
        }
    });

    /* Changing Language */
    $(".language-btn").on( "click", function() {
        let lang_code = $(this).attr('value');

        $.ajax({ 
            type: 'POST',
            url: '{% url 'core:session_change_language' %}',
            data: {
                action: 'post',
                lang_code: lang_code,
                csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(json) {
                console.log(json.result);
                location.reload();
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
    });

    /* Loading Animation */
    setTimeout(function(){
        screenTransition.style.backgroundColor = "rgba(0, 0, 0, 0)"; 
        loadingArrow.style = "opacity: 0";
    }, 50 + (Math.random() * 100) );

    setTimeout(function() {
    let alerts = document.querySelectorAll('.alert');
    alerts.forEach(function(alert) {
      let bsAlert = new bootstrap.Alert(alert);
      bsAlert.close(); // removes element from DOM
    });
  }, 10000);

    /* update_low_priority();
    setInterval(update_low_priority, 20000);
    async function update_low_priority(){
        fetch('/test', { method: "GET",
        headers: { "X-Requested-With": "XMLHttpRequest"}})
        .then(response => response.json().then(json_data => ({
            time: json_data['time']
        }))
        .then(result => {
            /*document.getElementById("datetime-display").textContent = result.time;
        })); 
    }*/
</script>