{% load static %}
<script src="{% static 'js_imports/jquery-3.7.1.min.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'bootstrap-5.3.8/js/bootstrap.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
<script>
    /* Preload Constants */
    const languageCode = '{{request.session.lang_code}}'

    /* Load the translated JSON into browser memory. */ 
    var localAlertText = null
    $.getJSON('/static/localization/{{request.session.lang_code}}/alerts.json', 
        function(json_data){localAlertText = json_data})

    function autoCloseAlert(alert){
        setTimeout(function() {alert.close();}, 5000);
    }

    var alertContainer = $("#alert-container")
    var alertList = []

    function createAlert(text = "", key = "", type = "warning") {

        if (localAlertText && localAlertText[key]){
            text = localAlertText[key];
        }

        alertList.push(alertContainer.prepend(
            `<div class="alert alert-dismissible fade show m-0 mt-1 alert-${type}" role="alert" style="pointer-events: auto;"><span>${text}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`).children()[0]);

        setTimeout(function() { 
            new bootstrap.Alert(alertList.shift()).close();
        }, 4000);
    }


    // Popups
    const popupWindow = document.querySelector('#popup-container');

    if (popupWindow) {
        popupWindow.style.display = "none"

        var activePopup = ""
        function openPopup(name = ""){
            popupWindow.style.display = "block";
            main.style.pointerEvents = "none";
            header.style.pointerEvents = "none";

            if (name != "") {
                document.getElementById(name).style.display = "block";
                activePopup = name;
            }
        }

        function closePopup(){
            popupWindow.style.display = "none";
            main.style.pointerEvents = "initial";
            header.style.pointerEvents = "initial";

            if (activePopup != "") {
                document.getElementById(activePopup).style.display = "none";
                activePopup = "";
            }
        }
    }

    /* Loading Screen */
    const screenTransition = document.querySelector("#screen-transition");
    const loadingArrow = document.querySelector('#loading-arrow');

    function enableLoadingScreen() {
        loadingArrow.style = "opacity: 1";
        screenTransition.style.backgroundColor = "rgba(0, 0, 0, 1)";
    }
    function disableLoadingScreen() {
        loadingArrow.style = "opacity: 0";
        screenTransition.style.backgroundColor = "rgba(0, 0, 0, 0)";
    }

    // AJAX
    function basicAJAX(type = "POST", url, data) {
        enableLoadingScreen();
        return $.ajax({ 
            type: type, url: url, data: data,
            success: function(result) { 
                if (result["alert-message"]) { createAlert(text=result["alert-message"], key="", type=result["alert-type"]); }
                disableLoadingScreen();
                return result;
            },
            error: function(xhr, errmsg, err) {
                disableLoadingScreen();
                return null;
            }
        });
    }
</script>