{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark" {% include 'site/site_bg_img.html' %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FamilyThings{% endblock %}</title>
  {% include 'site/site_style_imports.html' %}
  {% include 'site/site_style.html' %}
</head>
{% include 'site/site_overlay.html' %}
{% include 'site/site_js_preload.html' %}
{% include 'site/site_header.html' %}
<body>
  {# Header #}
  <main class="container-sm px-4 mt-3 m-auto">
    {% block content %}
    {# Content will be injected here #}
    {% endblock %}
  </main>
</body>
{% include 'site/site_footer.html' %}
{% include 'site/site_js.html' with lang_code=lang_code %}
</html>