{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark" {% include 'site/site_bg_img.html' with image=request.user.background_image %}>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FamilyThings{% endblock %}</title>
  {% include 'site/site_style_imports.html' %}
  {% include 'site/site_style.html' %}
</head>
{% include 'site/site_overlay.html' %}
{% include 'site/site_js_preload.html' %}
{% include 'site/site_header.html' with show_time=False %}

<body>
  <main role="main" style="font-size: 0.9em;">
    <div class="bg-dark" style="height: fit-content; padding-bottom: 10em;">
      <div class="carousel">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner ft-sm">
            {% include 'home/home_carousel_item.html' with header='One more for good measure.' paragraph='Some representative placeholder content for the third slide of this carousel.' link='Browse gallery' caption_class='text-start' active=True %}
            {% include 'home/home_carousel_item.html' with header='One more for good measure.' paragraph='Some representative placeholder content for the third slide of this carousel.' link='Browse gallery' caption_class='text-center' %}
            {% include 'home/home_carousel_item.html' with header='One more for good measure.' paragraph='Some representative placeholder content for the third slide of this carousel.' link='Browse gallery' caption_class='text-end' %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <h2 class="text-center pt-5" style="font-size: 4em;">About Us</h2>
        <hr>
        <div id="about-us" class="container-fluid my-5 w-75">
          <div class="d-flex justify-content-evenly">
            {% include 'home/home_aboutus_item.html' with name='Wilhelm Ratte' role='Creator, Team Leader, Backend Developer' %}
            {% include 'home/home_aboutus_item.html' with name='Roman Heus' role='Fullstack Developer, Master Of The Memes' %}
            {% include 'home/home_aboutus_item.html' with name='Padma Devi Talatam' role='Database' %}
            {% include 'home/home_aboutus_item.html' with name='Thomas Leis' role='Team Manager, Testing' %}
            {% include 'home/home_aboutus_item.html' with name='Shafi Muhammadi' role='%Placeholder%' %}
          </div>
        </div>
        <hr>
      </div>
  </main>
  <script src="../assets/dist/js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
</body>
{% include 'site/site_footer.html' %}
{% include 'site/site_js.html' with lang_code=lang_code %}

</html>