{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark" {% include 'site/site_bg_img.html' with image=request.user.background_image %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}FamilyThings{% endblock %}</title>
  {% include 'site/site_style_imports.html' %}
  {% include 'site/site_style.html' %}
  <style>
    {% include 'site/site_style_overrides.css' with cursor=True %}
  </style>
</head>
{% include 'site/site_overlay.html' %}
{% include 'site/site_js_preload.html' %}
{% include 'site/site_header.html' with show_time=False %}
<body>
  <img class="position-absolute top-0 start-50 translate-middle-x" style="z-index: 1000;" 
      src="{% static 'logo.png' %}" alt="FamilyThings logo" height="80">
  <main id="main" role="main" style="font-size: 0.6em; max-height: calc(100vh - 131px) !important;">
    <div class="bg-dark" style="padding-bottom: 20em;">
      <div class="carousel home-section">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner ft-sm">
            {% include 'home/home_carousel_item.html' with image='home/pexels-thatguycraig000-1835927.jpg' header="Forget the Pressures and Chaos, it's Time for FamilyThings!" paragraph="No more masses of unfinished To-Dos, become aware of what you accomplished... <br> And share it with your family and loved ones!" caption_class='text-start' active=True %}
            {% include 'home/home_carousel_item.html' with image='home/pexels-pavel-danilyuk-8763062.jpg' header='Build Routines.' paragraph='Be it a morning routine, homework, groceries - Accomplishments, once created, can always be repeated on the fly!' %}
            {% include 'home/home_carousel_item.html' with image='home/pexels-thatguycraig000-1835927.jpg' header="Let's Begin This Journey!" paragraph='Create your own Account <strong>for free</strong> and get started!' link='core:user_register' link_caption='Register for free' caption_class='text-end' %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <hr>
      <div class="d-flex featurette m-auto w-fit py-4">
        <div class="me-3" style="width: 740px;">
          <h2 id="home-accomp1" class="featurette-heading">Create your own Accomplishments! <span class="text-muted"></span></h2>
          <h3 id="home-accomp2" class="lead" style="line-height: 1.5em !important;">Elevate your daily workflow with an intuitive tool designed to help you create, manage, and continuously improve your accomplishments. Gain a clear, comprehensive overview at a glance, and track your progress with ease for smarter planning and measurable results.</h3>
        </div>
        <div>
          <img class="featurette-image img-fluid mx-auto" alt="" width="700" src="static\home\Accomplishments.gif">
        </div>
      </div>
      <hr>
      <div id="about-us" class="home-section">
        <h3 class="text-center pt-5 pop" style="font-size: 4em; transform-origin: 50% 100%;">The Team Behind It</h3>
        <div id="about-us-people" class="container-fluid my-5 w-75">
          <div class="d-flex justify-content-center" style="gap: 4rem !important;">
            {% include 'home/home_aboutus_item.html' with name='Wilhelm Ratte' github='WimpieRatte' linkedin='wilhelm-josef-ratte-3a8a1a67' role='Creator, Team Leader<br>Fullstack Developer' photo='wilhelmratte.jpg' delay='0' %}
            {% include 'home/home_aboutus_item.html' with name='Roman Heus' github='RomanH1999' linkedin='roman-heus' role='Fullstack Developer<br>User Interface<br>Chronic Jokester' delay='0.03' %}
            {% include 'home/home_aboutus_item.html' with name='Thomas Leis' role='Team Coordinator<br>Testing' delay='0.10' photo='thomasleis.jpg' %}
            {% include 'home/home_aboutus_item.html' with name='Padma Devi Talatam' github='ryalipadma' role='Database<br>User Authentication<br>Frontend Developer' delay='0.06' %}
          </div>
        </div>
      </div>
      <hr>
      <div id="powered-by" class="home-section pb-5">
        <h3 class="text-center pt-5 pop" style="font-size: 4em; transform-origin: 50% 100%;">Powered By</h3>
        <div id="powered-by" class="container-fluid my-5">
            <div class="container d-flex justify-content-center pb-5" >
              <a id="logo-python" href="https://python.org" target="_blank" rel="noopener noreferrer" class="rounded-circle border-primary fade-in w-fit object-fit-contain" style="min-width: 340px;"> <img src="{% static 'home/Python.svg' %}" alt="Python logo" height="100" class="d-block m-auto"> </a>
              <a id="logo-django" href="https://www.djangoproject.com" target="_blank" rel="noopener noreferrer" class="rounded-circle border-primary fade-in w-fit object-fit-contain" style="min-width: 340px;"> <img src="{% static 'home/Django.svg' %}" alt="Django logo" height="100" class="d-block m-auto"> </a>
              <a id="logo-bootstrap" href="https://getbootstrap.com" target="_blank" rel="noopener noreferrer" class="rounded-circle border-primary fade-in w-fit object-fit-contain" style="min-width: 340px;"> <img src="{% static 'home/Bootstrap.svg' %}" alt="Bootstrap logo" height="100" class="d-block m-auto"> </a>
            </div>
        </div>
      </div>
      </div>
  </main>
  {% include 'site/site_footer.html' %}
  {% include 'site/site_js.html' with lang_code=lang_code %}
  <style>
    .home-section {
      transition-property: opacity;
      transition-duration: .25s;
      transition-timing-function: ease-out;
    }

    .pop {transform: scale(1);}
    .active .pop {
        animation: pop 0.2s ease-in-out 1;
    }
    @keyframes pop{
        33%  {transform: scale(1.1);}
    }
  </style>
  <script>
    /* Const 'main' is already defined as a const in 'site.js.html' */

    const homeSections = new Object()

    /* Retrieve all elements that are supposed to react to the scrolling 
    /* and store them for the iteration below. */
    let homeSectionsQuery = document.querySelectorAll(".home-section");
    homeSectionsQuery.forEach(function(element, i) {
      var center_y = 0
      if (i > 0){ center_y = element.getBoundingClientRect().y - element.getBoundingClientRect().height * .5
        element.style.opacity = 1//.2;
      }
      element.classList.remove("active");

      /*The object's structure => {key: [element, element_y]}*/
      Object.defineProperty(homeSections, i, {value: [element, center_y]})
    });

    function updateFading(){
      Object.getOwnPropertyNames(homeSections).forEach(function(key) {
        var element = homeSections[key];
        var opacity = Math.max(1 - (Math.abs(main.scrollTop - element[1])*.003), .2);

        if (opacity > .4 && opacity < 1){ opacity = 1; element[0].classList.add("active");}
        else if (opacity < 0.3) { element[0].classList.remove("active"); }
        element[0].style.opacity = opacity;

        //TODO: remove once it's fully stable.
        element[0].style.opacity = 1;
      });
    }

    main.addEventListener('scroll', function () {
      updateFading();
    });
  </script>
</body>
</html>