{% extends "site/site_base.html" %}
{% block title %}Family Management - {% endblock %}
{% block content %}
{% load static %}
<script>
    function removeUser(btn) {
        if (confirm(`Are you sure you want to this?`)) {
            event.preventDefault(); // Prevents the button from creating the default HTTPRequest
            
            $.ajax({ 
                type: 'POST', url: '{% url "core:remove_member" %}',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                    family_id: '{{family.ID}}', user_id: btn.value
                },
                success: function(json) {
                    createAlert(text=json["alert-message"], key="", type=json["alert-type"]);
                    console.log(json);
                    location.reload();
                },
                error: function(xhr, errmsg, err) {
                    createAlert(xhr.responseText, key="", type="danger");
                    event.target.disabled = false;
                }
            });
        }
    }
</script>
<div id="family-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with id="family-management" label="Family Management" %}
    <div id="family-manage" class="container rounded bg-dark p-2 h-25 mh-25">
        <div id="family-manage-wrapper" class="container d-flex flex-wrap rounded py-2">
            <div class="w-50 px-3">
                {% include 'site/heading_small.html' with id="members" title='Members' %}
                <table id="accomplishments-table" class="table table-striped bg-opacity-50" style="table-layout: fixed;">
                    <thead class="w-100 fs-sm">
                        <tr class="">
                            <th class="p-1" style="width: 5%;" scope="col">#</th>
                            <th class="p-1" id="id_" style="width: 28%;" scope="col">Display Name</th>
                            <th class="p-1" id="id_" style="width: 18%;" scope="col">Username</th>
                            <th class="p-1" id="lb-" style="width: 14%;" scope="col">Role</th>
                            <th class="p-1" id="lb-" style="width: 17%;" scope="col">Joined</th>
                            <th class="p-1" id="lb-" style="width: 13%;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="accomplishments-table-body" class="fs-sm">
                        {% for member in members %}
                            {% with info=member.serialized %}
                            <tr id="fam-user-{{info.ID}}" style="vertical-align: middle;">
                                <td class="p-1"><img id="dropdown-user-icon" class="border;" style="border: solid 2px !important; border-color: var(--bs-{{info.color}}) !important;" src="{% get_media_prefix %}{{info.icon}}" 
                                    onerror="this.onerror=null; this.src='{% static 'default-user.png' %}'" height="25" width="25" alt="{% get_media_prefix %}{{icon}}"></td>
                                <td class="p-1"><div class="rounded p-1 fs-sm me-2" style="background-color: var(--bs-{{info.color}}) !important; color: var(--bs-{{info.color}}-font) !important;">{{info.full_name}}</div></td>
                                <td class="p-1">{{info.username}}</td>
                                <td class="p-1">{% include 'header/role_name.html' with manager=info.is_manager owner=family.owner name=info.username %}</td>
                                <td class="p-1">{{info.joined}}</td>
                                {% if info.username != request.user.username %}
                                    <div class="dropdown">
                                        <td class="p-0"><button id="btn-actions" value="{{info.ID}}" type="button" data-bs-toggle="dropdown" class="dropdown-toggle btn btn-primary d-block m-auto mt-auto p-1 fs-sm" style="margin-top: 0.1em !important;">Actions</button>
                                        <ul class="dropend dropdown-menu fs-sm">
                                            <li><button id="promote-user" value="{{info.ID}}" class="dropdown-item" type="button"><span class="bi bi-journal-check"></span> <span id="lb-">Set as Family Manager</span></button></li>
                                            <li id="remove-user" value='{{info.ID}}' onclick="removeUser(this)"><a class="dropdown-item text-danger"><span class="bi bi-x-circle"></span> <span id="lb-">Remove from Family</span></a></li>
                                        </ul>
                                        </td>
                                    </div>
                                {% else %}
                                    <td class="p-1"></td>
                                {% endif %}
                            </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="w-50 px-3">
                {% include 'site/heading_small.html' with id="invite" title='Invite' %}
                <div class="bg-dark rounded-2 py-3 text-center">
                    <p id="lb-invite-code" class="p-1 m-0">Your Invite Code:</p>
                    <p id="invite-code" class="p-1 m-0">{{invite}}</p>
                </div>
                <button id="btn-generate-new" class="btn btn-primary border-primary mt-4 m-auto text-center d-block" type="button">Generate New</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btn-generate-new").click(function(event) {
        if (confirm(`Are you sure you want to this?\n(This makes the current invite invalid!)`)) {
            event.preventDefault(); // Prevents the button from creating the default HTTPRequest
            event.target.disabled = true; //  Disables the log in button

            $.ajax({ 
                type: 'POST', url: '{% url "core:create_invite" %}',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(json) {
                    createAlert(text=json["alert-message"], key="", type=json["alert-type"]);
                    event.target.disabled = false;
                    console.log(json);
                    $("#invite-code").text(json['new-token']);
                },
                error: function(xhr, errmsg, err) {
                    createAlert(xhr.responseText, key="", type="danger");
                    event.target.disabled = false;
                }
            });
        }
    });

    $("#promote-user").click(function(event) {
        if (confirm(`Are you sure you want to this?`)) {
            event.preventDefault(); // Prevents the button from creating the default HTTPRequest
            console.log($(this).val())
        }
    });
</script>
{% endblock %}