{% extends "site/site_base.html" %}
{% block title %}Reset Sent{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-lg border-0 rounded-3 text-center">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0">Reset Link Sent</h4>
        </div>
        <div class="card-body">

          <p class="lead">
            A password reset link has been sent to your email.  
            Please note that it <b>expires in 10 minutes</b>!
          </p>

          <div class="mt-4">
            <a href="{% url 'core:user_login' %}" class="btn btn-primary">Go to Login</a>
            <a href="{% url 'core:registration' %}" class="btn btn-outline-secondary">Sign Up</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
