<div id="accomplishment-item" class="container w-100 my-1 p-2 rounded bg-primary bg-gradient shadow-sm tooltip-source" style="height: 2.5em; pointer-events: visible;"
data-tooltip-context="Accomplished on" data-tooltip-content="%tooltip%">
    <div class="d-flex align-items-start p-0 position-relative">
        <div class="accomplishment-icon pop rounded position-relative" style="height: 1.5em; width: 1.5em; background-color: #bcdcec;">
            <i class="bi bi-%icon% h5 position-absolute top-50 start-50 translate-middle" style="color: black;" width="20" height="20" alt=""></i>
        </div>
        <div class="flex-column m-0 p-0" style="line-height: 1.35em;">
            <p class="row fs-6 ms-2 m-0">%title%</p>
        </div>
    </div>
</div>