{% extends "site/site_base.html" %}
{% load static %}
{% block title %}Profile -{% endblock %}
{% block content %}
<div class="container-lg d-md-flex justify-content-evenly" style="max-height: 1800px">
    <div id="accomplishments-section" class="section container pb-4" style="width: 340px;">
        {% include 'site/heading_section.html' with id="todays-accomps" label="Today's Accomplishments" value=todays_accomplishments.length %}
        <div style="height: 16em;">
            <div id="todays-accomplishments-container" class="flex-column bg-dark rounded p-1 mb-2", style="display: none;"></div>
            <div id="new-accomplishment-wrapper" class="w-auto m-auto">
                <a id="add-new-button" class="nav-link tooltip-source m-auto" style="width: fit-content;" href="{% url 'accomplishment:add_new' %}" data-tooltip-context="Add New">
                    <h6 id="new-accomplishment-label" class="text-center m-0 p-1 bg-dark rounded p-1">
                    <i id="new-accomplishment-icon" class="bi bi-plus-square-fill text-center fs-3"></i></h6>
                </a>
            </div>
        </div>
        {% include 'site/heading_section.html' with id="recent-activities" label='Recent Activities' %}
        <div class="containe" style="height: 15em;">
            <div id="recent-accomplishments-container" class="flex-column bg-dark rounded p-1" style="display: none;"></div>
        </div>
    </div>
    <div style="width: 430px;">
        {% include 'site/heading_section.html' with id="message-wall" label='Message Wall'%}
        <div id="messager-section" class="pb-3 w-100" style="height: 24em;">
            <div id="message-wall-wrapper" class="container rounded bg-dark rounded p-2 mb-2 h-100 fs-sm overflow-y-scroll" style="overflow-x: visible !important;">
                <div id="message-wall" class="container rounded bg-light-subtle" style="min-height: 100%;">
                    <div id="message-list" class="p-1">
                    {% for message in chat %}
                        {% if not message.deleted %}
                            {% if message.custom_user_id.full_name == request.user.full_name %}
                                {% include 'home/message_item.html' with sender=message.custom_user_id message=message class='text-end' can_delete=family.is_manager %}
                            {% else %}
                                {% include 'home/message_item.html' with sender=message.custom_user_id message=message class='text-start' can_delete=family.is_manager %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="message-box-wrapper" class="container rounded bg-dark rounded p-2 fs-sm" style="width: 430px; height: 10em;">
            <form id="message-form" method="post">
                {% csrf_token %}
                <div class="position-relative">
                    <textarea id="txtarea-message-wall" name="text" class="form-control" rows="3" maxlength="150" placeholder="Write message..."></textarea>
                    <div id="txtarea-message-wall-count" class="position-absolute bottom-0 end-0 fs-sm pe-1 text-end no-ptr-evt">0/150</div>
                </div>
                <button id="btn-message-post" class="btn btn-primary mt-1 px-3" value="OK" type="submit">Post</button>
            </form>
        </div>
    </div>
    <div id="feed-section" class="section container-sm pb-4" style="width: 340px;">
        <div id="family-feed" style="height: 17em;">
            {% include 'site/heading_section.html' with id="family-feed" label='Family Feed'%}
            <div class="flex-column bg-dark rounded p-1 mh-25">
                {% for entry in family_activity %}
                    {% include 'home/family_accomplishment_item.html' with title=entry.name icon=entry.icon color=entry.color date=entry.date%}
                {% endfor %}
            </div>
        </div>
        {% include 'site/heading_section.html' with id="calendar" label='Calendar'%}
        <div id="calendar" style="height: 16em;">
            <div id="calendar-wrapper" class="container rounded bg-dark rounded p-2 h-100 mh-100 overflow-visible">
                <form action="#" class="row h-100">
                    <div id="rome-calendar"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="{% static 'rome/rome.css'%}" rel="stylesheet">
<script src="{% static 'rome/rome.js'%}"></script>
<script>
    // Set up calendar and make the day buttons tooltop triggers
    function updateDate(){}

    {% include 'js_calendar_rome.js' %}
    $(".rd-next").hide();
    $(".rd-back").hide();

    setTimeout(function() {
        let buttons = document.querySelectorAll(".rd-day-body");
        let dateToCheck = calendar.getDate();

        buttons.forEach(function(button) {
            entries = calendarEntries.filter((element) =>
            Number(button.textContent/10) >= element["date"].getDate()
            && dateToCheck.getMonth() == element["date"].getMonth()
            && dateToCheck.getYear() == element["date"].getYear());

            if (entries.length > 0){
                console.log(entries);
                button.className += " tooltip-source"

                button.dataset.tooltipContext = "<ul class='p-0 ps-3 m-0'>"
                entries.forEach(function(entry) {
                    button.dataset.tooltipContext += `<li>${entry["title"]}</li>`;
                });
                button.dataset.tooltipContext += "</ul>"
            }
        })
        updateTooltips();
    }, 1000)

    const recentAccContainer = $("#recent-accomplishments-container")
    const todaysAccContainer = $("#todays-accomplishments-container")

    /* Get Recent Accomplishments */
    $.get( "{% url 'accomplishment:get_recent' 5 %}", function() {})
    .done(function(response) {
        Object.entries(response.result).forEach(function(entry) {
            let data = entry[1]; //The key (0) is blank while (1) is the content

            recentAccContainer.show();
            /* Apply the accomplishment */
            addAccomplishmentEntry(recentAccContainer, data)
        });
        updateTooltips(); // Required to make the new Entries interactable
    })
    .fail(function(err) {console.log(err);})

    /* Get Today's Accomplishments */
    $.get( "{% url 'accomplishment:obtained_today' 4 %}", function() {})
    .done(function(response) {
        Object.entries(response.result).forEach(function(entry) {
            let data = entry[1]; //The key (0) is blank while (1) is the content

            todaysAccContainer.show();
            /* Apply the accomplishment */
            addAccomplishmentEntry(todaysAccContainer, data)
        });
        updateTooltips(); // Required to make the new Entries interactable
    })
    .fail(function(err) {console.log(err);})

    /* TODO: Move this + thie accomplishment functions to its own JS script/module of sorts */
    var localContext = new Object()
    $.getJSON('/static/localization/{{request.session.lang_code}}/context.json', 
        function(json_data){localContext = json_data;})

    /* Dynamically create Accomplishment entries */
    const accomplishmentTemplate = `{% include "home/user_accomplishment_item.html" with title="%title%" icon="%icon%" date="%date%" %}`

    function addAccomplishmentEntry(target_container, data){
        let language = languageCode;
        if (language == ""){language="en";}
        date = new Date(data["created"]).toLocaleDateString(language, {
            weekday: "short", year: "numeric",
            month: "short", day: "numeric",})
        target_container.append(
            accomplishmentTemplate.replace("%title%", data["name"])
            .replace("%date%", date)
            .replace("%icon%", data["icon"])
            .replace("Accomplished on", localContext["accomplished"])
        )
    }


    /* Message Box */
    const messageBoxSymbolCounter = document.getElementById("txtarea-message-wall-count");
    const messageBoxMaxLength = 150;
    const messageBoxButton = document.getElementById("btn-message-post");
    messageBoxButton.disabled = true;

    updateTextLength = (value)=> {
        messageBoxSymbolCounter.textContent = `${value}/${ messageBoxMaxLength}`;
        if (value > 134 && value < 150){messageBoxSymbolCounter.style.color = "var(--bs-warning)";}
        else if (value >= 150) {messageBoxSymbolCounter.style.color = "var(--bs-danger)";}
        else {messageBoxSymbolCounter.style.color = "";}

        if (value > 1) {messageBoxButton.disabled = false;}
        else {messageBoxButton.disabled = true;}
    }

    $("#txtarea-message-wall").on('keydown', function (event) {updateTextLength(event.target.value.length);});
    $("#txtarea-message-wall").on('keyup', function (event) {updateTextLength(event.target.value.length);});

    document.querySelectorAll(".message-content").forEach(function(element) {
        element.outerHTML = element.outerHTML.replace(/(\*{2}(.*?)\*{2})/g, "<strong>$2</strong>").replace(/(\*(.*?)\*)/g, "<i>$2</i>")
    });
</script>
<style>
    .rd-day-selected {
        background-color: var(--bs-{{request.user.color}}) !important; /*#f67280;*/
    }

    .message:hover > .badge {
        display: block !important;
    }

    .message-container.text-start { margin-left: 10px !important; border-top-left-radius: 0px !important;}
    .message-container.text-end { margin-right: 10px !important; border-top-right-radius: 0px !important; }

    .message-container::after{
        width: 0; height: 0; top: 0px;
        content: ""; position: absolute; z-index: 1100;
        border-top: 15px solid rgba(255,255,255,0.65);
        border-color: inherit;
    }
    .message-container.text-start::after { border-left: 15px solid transparent; left: -15px; }
    .message-container.text-end::after { border-right: 15px solid transparent; right:-15px; }
</style>
{% endblock %}