{% extends "site/site_base.html" %}
{% block title %}User Settings{% endblock %}
{% block content %}
<div class="p-2" style="max-height: 1800px">
    <div id="todo-section" class="container-sm pb-4 w-100">
        {% include 'home/section_header.html' with label="User Settings" %}
        <div id="settings" class="container rounded bg-dark p-2 h-25 mh-25">
            <div id="settings-wrapper" class="container d-flex flex-wrap rounded py-2">
                <div id="details-section" class="p-3 w-50 mw-50">
                    <div class="mb-3 pe-5">
                        <label for="exampleFormControlInput1" class="form-labe m-0">Name</label>
                        <input type="email" class="form-control w-75 mb-2" id="exampleFormControlInput1" placeholder="{{request.user.username}}">
                        <label for="exampleFormControlInput1" class="form-label m-0">Email address</label>
                        <input type="email" class="form-control w-75 mb-2" id="exampleFormControlInput1" placeholder="{{request.user.email}}">
                    </div>
                </div>
                <div id="image-section" class="d-flex p-3 w-50 mw-50">
                    <div id="user-icon-setting" class="w-25">
                        <h6>Icon</h6>
                        <img id="user-icon-preview" src="user_uploads/{{request.user.background_image}}" class="border border-5 border-primary mb-1" height="75" width="75" alt="...">
                        <input id="user-icon" class="form-control fs-sm w-75" type="file">
                    </div>
                    <div id="background-setting" class="w-50 ms-5">
                        <h6>Background</h6>
                        <img id="background-preview" src="user_uploads/{{request.user.background_image}}" class="img-thumbnail" alt="...">
                        <input id="background-image" class="form-control fs-sm" type="file">
                    </div>
                </div>
                <div class="w-50"></div>
                <div id="color-section" class="p-3">
                    <h6>Appearance</h6>
                    {% for color in colors.keys %}
                        <button id="{{color}}" onclick="change_color(this.id)", value="{{color}}" class="rounded"><i class="bi bi-square-fill h4 p-0 m-0" style="color: var(--bs-{{color}});"></i></button></i>
                    {% endfor %}
                    <div class="bg-primary rounded mt-2 p-2 w-100 fs-sm">Text will appear like this.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function change_color(color){
      const bgPrimary = document.getElementsByClassName("bg-primary");
      for (let i = 0; i < bgPrimary.length; i++) {
        bgPrimary.item(i).setAttribute( 'style', 'background-color: var(--bs-' + color + ') !important; color: var(--bs-' + color + '-font) !important;');
      }

      const borderPrimary = document.getElementsByClassName("border-primary");
      for (let i = 0; i < borderPrimary.length; i++) {
        borderPrimary.item(i).setAttribute( 'style', 'border-color: var(--bs-' + color + ') !important;');
      }

      update_user_settings({
        color: color,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'})
    }

    /* Background settings */
    const backgroundSetting = document.getElementById("background-setting");
    const backgroundPreview = document.getElementById("background-preview");
    const backgroundForm = document.getElementById("background-image");

    backgroundSetting.addEventListener("click", (e) => {if (backgroundForm) {backgroundForm.click();}});
    backgroundSetting.onchange = evt => {
        document.documentElement.style.backgroundImage = "url(" + URL.createObjectURL(backgroundForm.files[0]) + ")";
    }

    /* Icon settings */
    const iconSetting = document.getElementById("user-icon-setting");
    const iconPreview = document.getElementById("user-icon-preview");
    const iconForm = document.getElementById("user-icon");

    iconSetting.addEventListener("click", (e) => {if (iconForm) {iconForm.click();}});
    iconSetting.onchange = evt => {
        if (iconForm.files[0]) {iconPreview.src = URL.createObjectURL(iconForm.files[0]);}
        document.getElementById("dropdown-user-icon").src = URL.createObjectURL(iconForm.files[0]);

        fetch("", {
            method: "POST",
            headers: { 
                'Content-Type':'application/json',
                "X-CSRF-Token": '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'background-image': URL.createObjectURL(iconForm.files[0]) })
            });
    }

    function update_user_settings(data) {
        $.ajax({  // do a hidden postback to the url(view) below
        type: 'POST',
        url: '{% url 'core:update_user_settings' %}',
        data: data,
        success: function(json) {
            console.log("Success.")
        },
        error: function(xhr, errmsg, err) {
            console.log(errmsg);
        }
        });
    }
</script>
{% endblock %}