{% extends "site/site_base.html" %}
{% block title %}Create Account -{% endblock %}
{% block content %}
<div id="register-section" class="container">
    <div id="register" class="container rounded bg-dark p-2 pb-4 h-25 mh-25">
        {% include 'site/heading_large.html' with id="create-account" label='Create account'%}
        <hr>
        <form method="post" class="m-auto" style="width: fit-content !important;">
            {% csrf_token %}
            <div id="required-fields" class="bg-body-tertiary rounded p-2 pb-3">
                <div class="d-flex justify-content-between px-3" style="gap: 20px;">
                    {% include 'site/form_field.html' with id="username" field=form.username %}
                    {% include 'site/form_field.html' with id="email" field=form.email %}
                </div>
                <div class="d-block m-auto text-center" style="width: fit-content;">
                    {% include 'site/form_field.html' with id="password" field=form.password %}
                </div>
                <div id="password-hint" class="w-100 m-auto text-center fs-sm">
                    <span id="lb-password-hint">Password must be at least 8 characters long,</span><br>
                    <span id="lb-password-hint2">include one uppercase letter, and one special character.</span>
                </div>
            </div>
            <div id="family-invite" class="bg-body-tertiary rounded p-2 pb-3 mt-3">
                <div id="family-invite-hint" class="w-100 m-auto pb-1 text-center fs-sm">
                    <span id="lb-invite-hint">Already got a Family Invite? Add the code here.</span><br>
                </div>
                <div class="d-block m-auto text-center" style="width: fit-content;">
                    {% include 'site/form_field.html' with id="" field=form.invite_code %}
                </div>
            </div>
            <div id="optional-fields" class="bg-body-tertiary rounded p-2 pb-3 mt-3">
                <div class="d-flex justify-content-between px-3">
                    {% include 'site/form_field.html' with id="first-name" field=form.first_name optional=True %}
                    {% include 'site/form_field.html' with id="last-name" field=form.last_name optional=True %}
                </div>
                <div id="name-hint" class="w-100 m-auto text-center fs-sm">
                    <span id="lb-name-hint">You can always set up your full, or just first, name in the Settings.</span><br>
                    <span id="lb-name-hint-2">(Only you, as well as your Family, can see it.)</span>
                </div>
            </div>
            <button id="btn-register" class="btn btn-primary border-primary mt-4 m-auto text-center d-block" type="submit">Register</button>
        </form>
        <br>
        <div class="text-center d-block">
            <span id="lb-login-hint">Already have an account?</span> 
            <a id="lb-login-hint-2" href="{% url 'core:user_login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}