{% extends "site/site_base.html" %}
{% load static %}

{% block title %}Profile -{% endblock %}

{% block append_to_head %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-lg d-md-flex justify-content-evenly" style="max-height: 1800px">
    <div id="accomplishments-section" class="section container pb-4" style="width: 340px;">
        {% include 'site/heading_section.html' with id="todays-accomps" label="Today's Accomplishments" value=todays_accomplishments.length %}
        <div class="pb-2">
            <div id="todays-accomplishments-container" class="flex-column bg-dark rounded p-1 mb-2", style="display: none;"></div>
            <div id="new-accomplishment-wrapper" class="w-auto m-auto">
                <a id="add-new-button" class="nav-link tooltip-source m-auto" style="width: fit-content;" href="{% url 'accomplishment:overview' 'add_new' %}" data-tooltip-context="Add New">
                    <h6 id="new-accomplishment-label" class="text-center m-0 p-1 bg-dark rounded p-1">
                    <i id="new-accomplishment-icon" class="bi bi-plus-square-fill text-center fs-3"></i></h6>
                </a>
            </div>
        </div>
        {% include 'site/heading_section.html' with id="recent-activities" label='Recent Activities' %}
        <div>
            <div id="recent-accomplishments-container" class="flex-column bg-dark rounded p-1" style="display: none;"></div>
        </div>
    </div>
    <div style="width: 430px;">
        {% include 'site/heading_section.html' with id="message-wall" label='Message Wall'%}
        <div id="messager-section" class="pb-3 w-100" style="height: 25em;">
            <div id="message-wall-wrapper" class="container rounded bg-dark rounded p-2 mb-2 h-100 fs-sm overflow-y-scroll" style="overflow-x: visible !important;">
                <div id="message-wall" class="container rounded bg-light-subtle" style="min-height: 100%;">
                    <div id="message-list" class="p-1">
                        {% include 'core/temp_user_chat.html' with chat=chat %}
                    </div>
                </div>
            </div>
        </div>
        <div id="message-box-wrapper" class="container rounded bg-dark rounded p-2 fs-sm" style="width: 430px; height: 10em;">
            <form id="message-form" method="post">
                {% csrf_token %}
                <div class="position-relative">
                    <textarea id="txtarea-message-wall" name="text" class="form-control" rows="3" maxlength="150" placeholder="Write message..."></textarea>
                    <div id="txtarea-message-wall-count" class="position-absolute bottom-0 end-0 fs-sm pe-1 text-end no-ptr-evt">0/150</div>
                </div>
                <button id="btn-message-post" class="btn btn-primary mt-1 px-3" value="OK" type="submit">Post</button>
            </form>
        </div>
    </div>
    <div id="feed-section" class="section container-sm pb-4" style="width: 340px;">
        <div id="family-feed" style="height: 18em;">
            {% include 'site/heading_section.html' with id="family-feed" label='Family Feed'%}
            <div class="flex-column bg-dark rounded p-1 mh-25">
                {% for entry in family_activity %}
                    {% include 'home/family_accomplishment_item.html' with title=entry.name icon=entry.icon color=entry.color date=entry.date%}
                {% endfor %}
            </div>
        </div>
        {% include 'site/heading_section.html' with id="calendar" label='Calendar'%}
        <div id="calendar" style="height: 16em;">
            <div id="calendar-wrapper" class="container rounded bg-dark rounded p-2 h-100 mh-100 overflow-visible">
                <form action="#" class="row h-100">
                    <div id="rome-calendar"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="{% static 'rome/rome.css'%}" rel="stylesheet">
<script src="{% static 'rome/rome.js'%}"></script>
<script>
    var calendarURL = "{% url 'calendar:calendar' %}"

    // Set up calendar and make the day buttons tooltop triggers
    function updateDate(){}

    {% include 'js_calendar_rome.js' %}
    $(".rd-next").hide();
    $(".rd-back").hide();

    setTimeout(function() {
        let buttons = document.querySelectorAll(".rd-day-body");
        let dateToCheck = calendar.getDate();

        buttons.forEach(function(button) {
            entries = calendarEntries.filter((element) =>
            button.dataset.value == element["date"].getDate()
            && dateToCheck.getMonth() == element["date"].getMonth()
            && dateToCheck.getYear() == element["date"].getYear());

            if (entries.length > 0){
                button.className += " tooltip-source"

                button.dataset.tooltipContext = "<ul class='p-0 ps-3 m-0'>"
                entries.forEach(function(entry) {
                    button.dataset.tooltipContext += `<li>${entry["title"]}</li>`;
                });
                button.dataset.tooltipContext += "</ul>"
                button.innerHTML = `<a href="${calendarURL}start=${Number(button.children[0].textContent)}" class="link-underline link-underline-opacity-0">${button.innerHTML}</a>`;
            }
        })
        updateTooltips();
    }, 1000)

    const recentAccContainer = $("#recent-accomplishments-container")
    const todaysAccContainer = $("#todays-accomplishments-container")

    var maxEntries = 7; // How many total entries are going to be displayed on the left side
    /* Get Today's Accomplishments */
    $.get( `{{HOST}}/accomplishments/get/today/amount=${maxEntries}`, function() {})
    .done(function(response) {
        let entries = Object.entries(response.result);
        maxEntries -= entries.length

        entries.forEach(function(entry) {
            let data = entry[1]; //The key (0) is blank while (1) is the content

            todaysAccContainer.show();
            /* Apply the accomplishment */
            addAccomplishmentEntry(todaysAccContainer, data)
        });
        updateTooltips(); // Required to make the new Entries interactable
    })
    .fail(function(err) {console.log(err);})

        /* Get Recent Accomplishments */
    $.get( `{{HOST}}/accomplishments/get/recent/amount=${maxEntries}`, function() {})
    .done(function(response) {
        let entries = Object.entries(response.result);
        maxEntries -= entries.length

        entries.forEach(function(entry) {
            let data = entry[1]; //The key (0) is blank while (1) is the content

            recentAccContainer.show();
            /* Apply the accomplishment */
            addAccomplishmentEntry(recentAccContainer, data)
        });
        updateTooltips(); // Required to make the new Entries interactable
    })
    .fail(function(err, err2) {console.log(err2);})

    /* TODO: Move this + thie accomplishment functions to its own JS script/module of sorts */
    var localContext = new Object()
    $.getJSON('/static/localization/{{request.session.lang_code}}/context.json', 
        function(json_data){localContext = json_data;})

    /* Dynamically create Accomplishment entries */
    const accomplishmentTemplate = `{% include "core/temp_user_accomp_entry.html" %}`

    function addAccomplishmentEntry(target_container, data){
        let language = languageCode;
        if (language == ""){language="en";}

        date = new Date(data["created_date"]).toLocaleDateString(language, {
            weekday: "short", year: "numeric",
            month: "short", day: "numeric",})

        let tooltip = date;
        if (data["measurement_quantity"] > 0) {
            tooltip += `<br>${data["measurement_quantity"]}${data["measurement"]}`.replace("null", "x").replace(".00", "")
        }

        target_container.append(
            accomplishmentTemplate.replace("%title%", data["name"])
            .replace("%tooltip%", tooltip)
            .replace("%icon%", data["icon"])
            .replace("Accomplished on", localContext["accomplished"])
        )
    }


    /* Message Box */
    const messageBoxSymbolCounter = document.getElementById("txtarea-message-wall-count");
    const messageBoxMaxLength = 150;
    const messageBoxButton = document.getElementById("btn-message-post");
    messageBoxButton.disabled = true;

    updateTextLength = (value)=> {
        messageBoxSymbolCounter.textContent = `${value}/${ messageBoxMaxLength}`;
        if (value > 134 && value < 150){messageBoxSymbolCounter.style.color = "var(--bs-warning)";}
        else if (value >= 150) {messageBoxSymbolCounter.style.color = "var(--bs-danger)";}
        else {messageBoxSymbolCounter.style.color = "";}

        if (value > 1) {messageBoxButton.disabled = false;}
        else {messageBoxButton.disabled = true;}
    }

    $("#txtarea-message-wall").on('keydown', function (event) {updateTextLength(event.target.value.length);});
    $("#txtarea-message-wall").on('keyup', function (event) {updateTextLength(event.target.value.length);});

    document.querySelectorAll(".message-content").forEach(function(element) {
        element.outerHTML = element.outerHTML.replace(/(\*{2}(.*?)\*{2})/g, "<strong>$2</strong>").replace(/(\*(.*?)\*)/g, "<i>$2</i>")
    });



    // Replace with function that puts more rendering load to the Frontend
    /*const messageList = document.getElementById("message-list");

    function updateChat() {
        setTimeout(function() {
            $.get( "{% url 'core:get_messages' %}", function() {})
            .done(function(response) {
                //Make chat blank
                messageList.textContent = "";
                messageList.innerHTML = response;
            })
            .fail(function(err) {console.log(err);})
            updateChat()
        }, 5000)
    }
    updateChat()*/
</script>
<style>
    .rd-day-selected {
        background: 0 !important; /*#var(--bs-{{request.user.color}}) !important;*/
    }

    .message:hover > .badge {
        display: block !important;
    }

    .message-container.text-start { margin-left: 10px !important; border-top-left-radius: 0px !important;}
    .message-container.text-end { margin-right: 10px !important; border-top-right-radius: 0px !important; }

    .message-container::after{
        width: 0; height: 0; top: 0px;
        content: ""; position: absolute; z-index: 1100;
        border-top: 15px solid rgba(255,255,255,0.65);
        border-color: inherit;
    }
    .message-container.text-start::after { border-left: 15px solid transparent; left: -15px; }
    .message-container.text-end::after { border-right: 15px solid transparent; right:-15px; }
</style>
{% endblock %}