{% extends "site/site_base.html" %}
{% block title %}Log In -{% endblock %}
{% block content %}
{% load static %}
<div id="login-section" class="container">
    <div id="login" class="container rounded bg-dark p-2 pb-4 h-25 mh-25">
        <div class="position-relative pb-5" style="height: 136px;">
            <img src="{% static 'logo.png'%}" width="300" class="mx-auto d-block " alt="...">
            <div id="logo-description" class="m-auto text-center text-capitalize position-absolute start-50 top-100 translate-middle" 
            style="line-height: 1em;">
                It's not always about what you <i>need</i> to do.<br>But about what you've <i><strong>accomplished</strong></i>!
            </div>
        </div>
        <hr class="mt-4">
        <form id="login-form" enctype="multipart/form-data" method="post" class="m-auto" style="width: fit-content !important;">
            {% csrf_token %}
            {% include 'site/temp_form_field.html' with id="username" field=form.username %}
            {% include 'site/temp_form_field.html' with id="password" field=form.password %}
            <a href="{% url 'core:forgot_password' %}" id="lb-registration-hint" class="text-center d-block">Forgot password?</a>
            <button id="btn-login" class="btn btn-success border-success mt-4 m-auto text-center d-block" type="submit">Log In</button>
        </form>
        <br>
        <div class="text-center d-block">
            <span id="lb-registration-hint">Not registered yet?</span> 
            <a id="lb-registration-hint-2" href="{% url 'core:user_register' %}">Click here.</a>
        </div>
    </div>
</div>
<script>
    // AJAX-based Log In
    $("#btn-login").click(function(event) {
        event.preventDefault(); // Prevents the button from creating the default HTTPRequest
        event.target.disabled = true; //  Disables the log in button

        enableLoadingScreen();  // Function is defined in site_js
        let form_data = $("#login-form")
        $.ajax({ 
            type: 'POST', url: '{% url "core:request_login" %}',
            data: form_data.serializeArray(),
            success: function(json) {
                disableLoadingScreen();
                createAlert(text=json["alert-message"], key="", type=json["alert-type"]);
                setTimeout(function() {window.location.replace("{% url "core:user_profile" %}");}, 1000);
            },
            error: function(xhr, errmsg, err) {
                event.target.disabled = false;
                disableLoadingScreen();
                createAlert(xhr.responseText, key="", type="danger");
            }
        });
    });
</script>
{% endblock %}