{% extends "site/site_base.html" %}
{% block content %}
<div class="p-2" style="max-height: 1800px">
    <div id="settings-section" class="container-sm pb-4 w-100">
        <div id="settings" class="container rounded bg-dark p-2 h-25 mh-25">
            <div id="logo" class="m-auto text-center pb-2" style="font-size: 4em;">FamilyThings</div>
            {{error_messages}}
            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" class="m-auto" style="width: fit-content !important;">
                {% csrf_token %}
                {% include 'site/form_field_small.html' with id="username" field=form.username %}
                {% include 'site/form_field_small.html' with id="password" field=form.password %}
                <button id="button-log-in" class="btn btn-primary mt-4 m-auto text-center d-block" type="submit">Log In</button>
            </form>
            <a href="{% url 'core:registration' %}" id="label-registration-hint" class="text-center d-block" href="">Not registered yet? Click here.</a>
        </div>
    </div>
</div>
{% endblock %}