{% extends "site/site_base.html" %}
{% block title %}Accomplishments -{% endblock %}
{% block popups %}
    {% include 'accomplishment/accomp_popup_name_prompt.html' %}
    {% include 'accomplishment/accomp_popup_edit_accomp.html' %}
    {% include 'accomplishment/accomp_popup_edit_template.html' %}
{% endblock %}
{% block content %}
<div id="accomplishments-overview" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Accomplishments" id="accomplishments" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25">
        <div id="accomplishments-wrapper" class="container rounded py-2">
            <div class="d-flex justify-content-between flex-wrap p-3">
                <div style="width: 65%">
                    <div class="d-flex flex-wrap justify-content-between pb-2">
                        {% include 'site/heading_small.html' with label="All Activity" id="all-activity" %}
                        <form id="filter-form">
                            <div class="d-flex pe-3">
                                <input id="search-filter" class="form-control me-3 fs-sm" style="width: 15em;" type="search" placeholder="Filter Accomplishments..." aria-label="Search">
                                <select id="filter-selector" class="form-select fs-sm">
                                    <option selected value="name">Name</option>
                                    <option value="uncategorized">Name (w/o Category)</option>
                                    <option value="achievement">Name (Sp. Achievement)</option>
                                    <option value="category">Category</option>
                                </select>
                            </div>
                            <button id="" type="submit" class="d-none"></button>
                        </form>
                    </div>
                    <div class="position-relative pe-3" style="height: 34em;">
                        <table id="accomplishments-table" class="table table-striped bg-opacity-50" style="table-layout: fixed;">
                            <thead class="w-100 fs-sm">
                                <tr class="">
                                    <th class="p-1" style="width: 3%;" scope="col">#</th>
                                    <th class="p-1" id="id_name" style="width: 27%;" scope="col">Name</th>
                                    <th class="p-1" id="lb-measurement" style="width: 18%;" scope="col">Measurement</th>
                                    <th class="p-1" id="lb-category" style="width: 20%;" scope="col">Category</th>
                                    <th class="p-1" id="lb-created-on" style="width: 20%;" scope="col">Created on</th>
                                    <th class="p-1" style="width: 12%;" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="accomplishments-table-body" class="fs-sm">
                                
                            </tbody>
                        </table>
                        <div id="table-buttons" class="w-100 pe-3 d-flex justify-content-between position-absolute bottom-0 start-50 translate-middle-x">
                            <button id="previous-button" type="button" class="bi bi-caret-left-fill h4 d-block"></button>
                            <div class="font-monospace"><span id="lb-entries">Showing Entries</span> <span id="range-start"></span>-<span id="range-end"></span> (<span id="lb-entries2">found</span> <span id="range-total"></span> <span id="lb-entries3">total</span>)</div>
                            <button id="next-button" type="button" class="bi bi-caret-right-fill h4 d-block"></button>
                        </div>
                    </div>
                </div>
                <div style="width: 35%">
                    {% include 'site/heading_small.html' with title="Had any recent Accomplishments?" id="any-recent-accomps" class='text-center pt-1' %}
                    <div id="new-accomplishment-wrapper" class="w-auto m-auto pb-4">
                        <a id="add-new-button" class="nav-link m-auto tooltip-source" style="width: fit-content;" href="{% url 'accomplishment:add_new' %}" data-tooltip-context="Add New">
                            <h4 id="new-accomplishment-label" class="text-center m-0 p-1 bg-dark rounded p-1">
                            <i id="new-accomplishment-icon" class="bi bi-plus-square-fill text-center fs-1"></i></h4>
                        </a>
                    </div>
                    {% include 'site/heading_small.html' with title="Recent Additions (Click to repeat)" id="recent-additions" class='text-center pt-1' %}
                    <div class="d-flex justify-content-center flex-wrap gap-1" style="width: fit-content;">
                        {% for entry in recent_additions %}
                            <a href="{% url 'accomplishment:add_new' entry.id %}" class="link-underline link-underline-opacity-0 tooltip-source" data-tooltip-context="Repeat" data-tooltip-content='"{{entry.name}}"'>
                                {% with color=colors|random %}
                                <div class="rounded-2 p-1" style="color: var(--bs-{{color}}-font); background-color: var(--bs-{{color}});">{{entry.name}} <span class="bi bi-repeat"></span></div>
                                {% endwith %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #next-button:disabled,
    #previous-button:disabled {
        filter: grayscale(.5);
        color: var(--bs-gray-700);
        border-color: var(--bs-gray-700) !important;
    }
</style>
<script>
    var todaysAccContainer = $("#accomplishments-table-body");
    var searchBar = document.getElementById("search-filter");
    var tablePreviousButton = document.getElementById("previous-button");
    var tableNextButton = document.getElementById("next-button");
    var accomTableBody = document.getElementById("accomplishments-table-body")

    var getAccompURL = "{{HOST}}/accomplishments/milestone/get/id="
    var editAccompURL = "{{HOST}}/accomplishments/milestone/edit/id="
    var currentAJAXURL = editAccompURL;

    var currentIndex = 1;
    var currentEnd = 0;
    var totalEntries = 0;

    var searchText = "";
    var searchSelector = "name";

    var selectedAccomplishment = "" //Stores the UUID of the Accomplishment/Milestone that is being edited.


    /* Get Today's Accomplishments */
    const queryURL = "{{HOST}}/accomplishments/get"
    function createAccomplishmentsTable(length = 15, start = 1, search = "", selector = "name"){
        tablePreviousButton.disabled = true;
        tableNextButton.disabled = true;
        currentIndex = start;

        let queryURLFinal = `${queryURL}/amount=${length}/start=${start}/selector='${selector}'`

        if (search != ""){queryURLFinal+=`/key='${search}'`}
        $.get(queryURLFinal, function() {})
        .done(function(response) {
            var index = 0;
            todaysAccContainer.empty();
            Object.entries(response.result).forEach(function(entry) {
                let data = entry[1];
                createTableEntry(todaysAccContainer, data, start+index, searchText, selector)
                index++;
            });

            currentEnd = start + Object.entries(response.result).length;
            totalEntries = response.total;
            if (currentEnd-1 < totalEntries){tableNextButton.disabled = false;}
            document.getElementById("range-start").textContent = start;
            document.getElementById("range-end").textContent = start - 1 + Object.entries(response.result).length;
            document.getElementById("range-total").textContent = response.total;

            applyLocaleToPage() /* Refresh all language content */
            updateTooltips(); // Required to make the new Entries interactable
        })
        .fail(function(err) {console.log(err);})

        if (currentIndex > 1){tablePreviousButton.disabled = false;}
    }
    createAccomplishmentsTable()

    /* Dynamically create Accomplishment entries */
    const tableEntryTemplate = `{% include "accomplishment/temp_accomp_entry.html" %}`

    function createTableEntry(target_container, data, index, highlight = "", selector = "name"){

        // Get the date
        let language = languageCode;
        if (language == ""){language="en";}

        creation_date = new Date(data["fields"]["created"]).toLocaleTimeString(language, {
            year: "numeric", month: "short", day: "numeric",
            hour: '2-digit', minute:'2-digit'})
        
        // Prepare the template and retrieve the Accomplishment details
        let accom_template = data["fields"]["accomplishment"];
        let templateDump = tableEntryTemplate;
        let accomp_name = accom_template["name"];

        /* Highlight the name based on the search query */
        if (highlight != "" && selector == 'name') {accomp_name = accomp_name.replace(highlight, `<strong>$1</strong>`)}

        /* Turn the whole name + icon yellow */
        if (accom_template["is_achievement"]) { templateDump = templateDump.replace("%name_style%", 'style="color: #ddc67f !important;"')}
            else { templateDump = templateDump.replace("%name_style%", '')}
        
        
        // Apply most of the template
        templateDump = templateDump.replace("%index%", index)
        .replace("%date_created%", creation_date)
        .replaceAll("%name%", accomp_name)
        .replaceAll("%ID%", data["pk"])
        .replace("%icon%", accom_template["icon"])
        .replace("%category%", accom_template["type"])
        .replace("%description%", accom_template["description"])
        .replace("%repeatURL%", `"add%3Frepeat=${accom_template["ID"]}""`)
        .replace("undefined", "N/A")

        // Process Measurement Data
        let measurement_data = "-"
        if (accom_template["measurement"] != null) {
            measurement_data = `${data["fields"]["measurement_quantity"]}${accom_template["measurement"]}`;
        }
        else if (data["fields"]["measurement_quantity"] != null && data["fields"]["measurement_quantity"] != 0) {
            measurement_data = `${parseInt(data["fields"]["measurement_quantity"])}x`;
        }
        templateDump = templateDump.replace("%measurement%", measurement_data);
        
        target_container.append(templateDump);


        // Add Delete Accomplishment prompt to the generated entry
        var deleteURL = "{{HOST}}/accomplishments/delete/id="
        document.getElementById(`delete-accomplishment-btn-${data["pk"]}`).addEventListener("click", (event) => {
            let accomp_id = event.currentTarget.getAttribute("data-accomp-id");
            if (confirm(`Are you sure you want to delete this entry?\n(This cannot be undone!)`)) {
                $.get( `${deleteURL}${accomp_id}`, function() {})
                .done(function(response) {
                    createAlert("Accomplishment has been removed.", key="", type="warning");
                    createAccomplishmentsTable(length=15, start=currentIndex, search=searchBar.value);
                })
                .fail(function(err) {
                    createAlert(xhr.responseText, key="", type="danger");
                })
            }
        });


        $(`#edit-accomp-${data["pk"]}`).click(function(event) {
            selectedAccomplishment = $(this).val();
            currentAJAXURL = editAccompURL;

            let AJAXData = {csrfmiddlewaretoken: '{{ csrf_token }}'};

            let accompData = null
            
            $.when( basicAJAX(type="POST", url=`${getAccompURL}${$(this).val()}`, data=AJAXData) )
            .done(function( accompData ) {
                if (accompData != null){
                    openPopup("edit-accomp-popup");

                    // Fill the fields with the obtained data
                    var fields = ['measurement', "measurement_quantity", "date_from_day", "date_from_month",
                        "date_from_year", "date_to_day", "date_to_month", "date_to_year"]
                    
                    fields.forEach(function(field) {
                        $(`#id_${field}`).val(accompData[field]);
                    });

                    $('#edit-accomp-name').text(accompData["name"]);
                    document.getElementById('edit-accomp-icon').className = `bi bi-${accompData["icon"]}`;

                    $('#edit-accomp-created').text(new Date(accompData["created"]).toLocaleDateString(language, {
                        weekday: "short", year: "numeric",
                        month: "short", day: "numeric",}));

                    $(`#id_measurement`).prop( "disabled", true )
                    // If the user has not Measurement type but a quantity specified, use x (amount of times)
                    if (accompData['measurement'] == null) {
                        $(`#id_measurement`).val("x");
                    }
                }
            });
        });
    }
    //

    // "Previous" button = offset search by -15; "Next" button = offset search by +15;
    $("#previous-button").click(function(event) { createAccomplishmentsTable(15, currentIndex-15, searchBar.value, searchSelector); });
    $("#next-button").click(function(event) { createAccomplishmentsTable(15, currentIndex+15, searchBar.value, searchSelector); });

    // Automatically run after a short period,
    // and only make a query if the user made an input since then.
    var previousSearch = ""
    function updateSearch() {
        if (previousSearch != searchBar.value){
            previousSearch = searchBar.value;
            searchText = new RegExp(`(${searchBar.value})`,'gi');
            createAccomplishmentsTable(15, currentIndex, searchBar.value, searchSelector);
        }
        setTimeout(function() { updateSearch() }, 300);
    }
    updateSearch()

    // Run search immediately if they pressed enter (filter-form) or changed the filter selector (filter-selector)
    $("#filter-form").submit(function(event) {
        event.preventDefault();
        searchText = new RegExp(`(${searchBar.value})`,'gi');
        createAccomplishmentsTable(15, 1, searchBar.value, searchSelector);
    });

    $("#filter-selector").change(function(event) {
        searchSelector = document.getElementById("filter-selector").value;
        createAccomplishmentsTable(15, 1, searchBar.value, searchSelector);
    });

    // Generic Abort button for all popups
    $(".btn-abort-edit").click(function(event) { closePopup();});
    $(".btn-abort-create").click(function(event) { closePopup();});



    $("#btn-apply-changes").click(function(event) {
        let form_data = $("#edit-accomp-form");

        basicAJAX(type="POST", url=`{{HOST}}/accomplishments/milestone/edit/id=${selectedAccomplishment}`, data=form_data.serializeArray())
        createAccomplishmentsTable(15, 1, searchBar.value, searchSelector);
        closePopup();
    });


    /* Duplicate Check */
    var nameCheckURL = "{{HOST}}/accomplishments/get/name="

    var nameField = document.getElementById("lb-new-accomp-prompt")
    var submitButton = document.getElementById("btn-create-new");
    var repeatButton = document.getElementById("btn-repeat");

    var nameAvailableText = document.getElementById("lb-name-available");
    var nameTakenText = document.getElementById("lb-name-taken-prompt");
    var foundAccompText = document.getElementById("found-accomp");

    // Open Name Prompt
    $("#add-new-button").click(function(event) {
        event.preventDefault();
        nameField.value = ""
        openPopup("name-prompt-popup");
    });

    var previousName = ""
    function nameCheckAvailable() {
        if (nameField.value.length > 4 && previousName != nameField.value){
            previousName = nameField.value;

            $.ajax({ 
                type: 'POST', url: `${nameCheckURL}${nameField.value}`, data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(result) {
                    submitButton.style.display = "none";
                    nameAvailableText.style.display = "none";

                    repeatButton.style.display = "block";
                    repeatButton.disabled = false;
                    nameTakenText.style.display = "block";
                    foundAccompText.textContent = result["name"];
                    foundAccompText.className = `bi bi-${result["icon"]} h5`;
                },
                error: function(xhr, errmsg, err) {
                    submitButton.style.display = "block";
                    submitButton.disabled = false;
                    nameAvailableText.style.display = "block";

                    repeatButton.style.display = "none";
                    nameTakenText.style.display = "none";
                    foundAccompText.textContent = "";
                    foundAccompText.className = "";
                }
            });
        }
        setTimeout(function() { nameCheckAvailable() }, 1000);
    }
    nameCheckAvailable();

    $("#lb-new-accomp-prompt").keyup(function(event) {
        submitButton.disabled = true;
        repeatButton.disabled = true;
        foundAccompText.textContent = "";
        foundAccompText.className = "";
    })

</script>
<style>
    #btn-actions {
        filter: grayscale(1);
        transition-property: filter;
        transition-duration: .25s;
    }

    #btn-actions:hover, #btn-actions.show {
        filter: grayscale(0);
    }

    .background-bi {
        color: var(--bs-{{request.user.color}});
        z-index: -1;
        opacity: .75 !important;
    }

    .bi-edit-accomp {
        top: -10% !important;
        left: -10% !important;
        font-size: 18em !important;
        transform: rotate(-33deg) !important;
        opacity: .75 !important;
    }

    .bi-edit-accomp:nth-child(2) {
        top: -47% !important;
        left: 15% !important;
        font-size: 18em !important;
        transform: rotate(-9deg) !important;
        opacity: 1 !important;
    }

    .form-control.text-center::placeholder {
        font-size: .8em !important;
    }
</style>
{% endblock %}