{% extends "site/site_base.html" %}
{% block title %}Accomplishments{% endblock %}
{% block content %}
{% load static %}
<div id="todo-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Edit User Accomplishment" id="edit-user-accomplishment" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25 position-relative">
        <div id="accomplishments-wrapper" class="d-flex py-5">
            <form id="accomplishment-form" method="post" class="m-auto d-flex justify-content-center flex-wrap gap-2" style="width: 65%;">
                {% csrf_token %}
                <div style="width: 60%;">
                    <div id="" class="d-flex gap-2">
                        {% include 'site/form_field.html' with id="name" field=form.name %}
                        {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type optional=True %}
                    </div>
                    {% include 'site/form_field.html' with id="description" field=form.description optional=True %}
                    {# Hidden Fields #}
                    {% include 'site/form_field.html' with id="icon" field=form.icon %}
                </div>
                {% include 'accomplishment/temp_accomp_icon_selection.html' with icons=icons %}
                <div class="d-flex gap-2 py-4 m-auto" style="width: fit-content;">
                    <button id="button-submit" class="btn btn-primary border-primary" type="submit">Submit Change</button>
                    <a href="{% url 'accomplishment:overview' %}"><button id="button-abort" class="btn btn-danger" type="button">Abort</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .active {
        color: rgb(41, 151, 219) !important;
        background-color: var(--bs-dark) !important;
    }

    .d-flex > p + input {
        margin-left: 1em;
    }
</style>
<script>
</script>
{% endblock %}