{% extends "site/site_base.html" %}
{% block title %}Accomplishments{% endblock %}
{% block content %}
{% load static %}
<div id="todo-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Add New Accomplishment" id="create_accomplishment" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25 position-relative">
        <div id="duplicate-accomplishment-prompt" class="position-relative" style="display: none;">
            <div id="duplicate-accomplishment-label" class="w-50 p-2 m-auto border border-2 border-dark text-bg-warning rounded-3 text-center">There already exists an Accomplishment with that name.<br>Did you intend on repeating it?</div>
            <div class="d-flex justify-content-between w-50 m-auto position-absolute top-100 start-50 translate-middle">
                <button id="button-accept" class="btn btn-primary text-bg-dark d-block" type="button">Accept</button>
                <button id="button-undo" class="btn btn-primary text-bg-dark d-block" type="button">Undo</button>
            </div>
        </div>
        <div id="accomplishments-wrapper" class="d-flex py-5">
            <form id="accomplishment-form" method="post" class="m-auto d-flex justify-content-center flex-wrap" style="width: 65%;">
                {% csrf_token %}
                <div class="ms-auto" style="width: 60%;">
                    <div id="" class="d-flex gap-2">
                        {% include 'site/form_field.html' with id="name" field=form.name %}
                        {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type optional=True %}
                    </div>
                    {% include 'site/form_field.html' with id="description" field=form.description optional=True %}
                    {# Hidden Fields #}
                    {% include 'site/form_field.html' with id="icon" field=form.icon %}
                    {% include 'site/form_field.html' with id="is_repeat" field=form.is_repeat %}
                </div>
                <div style="width: 40%;">
                    {% include 'site/form_field.html' with id="is_achievement" field=form.is_achievement field_class="d-flex" %}
                    <div id="form-label-measurement" class="pb-1">Measurement</div>
                    <div id="measurement-section" class="d-flex gap-2">
                        {% include 'site/form_field.html' with id="" field=form.measurement_quantity %}
                        {% include 'site/form_field.html' with id="" field=form.measurement %}
                    </div>
                    <div id="form-label-time-range" class="pb-1">Time Range</div>
                    <div id="timeframe-section" class="flex-column gap-2">
                        {% include 'site/form_field.html' with id="" field=form.date_from field_class="d-flex" label_class="w-25" %}
                        {% include 'site/form_field.html' with id="" field=form.date_to field_class="d-flex" label_class="w-25" %}
                    </div>
                </div>
                {% include 'accomplishment/temp_accomp_icon_selection.html' with icons=icons %}
                </div>
                <button id="button-create" class="btn btn-primary border-primary mt-4 d-block m-auto" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .active {
        color: rgb(41, 151, 219) !important;
        background-color: var(--bs-dark) !important;
    }

    .d-flex > p + input {
        margin-left: 1em;
    }

    /* Achievement Button Styling */
    #id_is_achievement {
        --bs-form-check-bg-image: url({% static 'icons/task/award.svg' %});
    }
    #id_is_achievement:checked {
        background-color: #e2cf20;
        border-color: #e2cf20;
        --bs-form-check-bg-image: url({% static 'icons/task/award-fill.svg' %});
    }
    #id_is_achievement:focus {
        border-color: #e2cf20;
        box-shadow: 0 0 0 0.25rem rgba(250, 228, 26, 0.25);
    }
</style>
<script>
    const duplicateAccomplishmentPrompt = document.getElementById("duplicate-accomplishment-prompt");
    var duplicateAccomplishment = new Object()
    const nameField = document.getElementById("id_name");
    const descriptionField = document.getElementById("id_description");
    const submitButton = document.getElementById("button-create");

    // AJAX Submission
    $("#button-create").click(function(event) {
        event.preventDefault(); // Prevents the button from creating the default HTTPRequest
        submitButton.disabled = true; //  Disables the log in button

        enableLoadingScreen();  // Function is defined in site_js

        let form_data = $("#accomplishment-form")
        nameField.disabled = false;
        descriptionField.disabled = false;

        $.ajax({ 
            type: 'POST', url: '{% url "accomplishment:submit_new" %}',
            data: form_data.serializeArray(),
            success: function(json) {
                disableLoadingScreen();
                createAlert(text=json["alert-message"], key="", type=json["alert-type"]);
                setTimeout(function() {window.location.replace('{{request.session.last_visited_page}}');}, 2000);

                setTimeout(function() {
                    var count = 200;
                    var defaults = {origin: { y: 0.65 }};

                    function fire(particleRatio, opts) {
                        confetti({...defaults, ...opts, particleCount: Math.floor(count * particleRatio)});
                    }
                    fire(0.25, { spread: 26, startVelocity: 55});
                    fire(0.2, {spread: 60,});
                    fire(0.35, {spread: 100, decay: 0.91, scalar: 0.8});
                    fire(0.1, {spread: 120, startVelocity: 25, decay: 0.92, scalar: 1.2});
                    fire(0.1, {spread: 120, startVelocity: 45});
                }, 10);
            },
            error: function(xhr, errmsg, err) {
                event.target.disabled = false;
                disableLoadingScreen();
                createAlert(xhr.responseText, key="", type="danger");
            }
        });
    });

    /* Duplicate Check */
    var nameCheckURL = "{{HOST}}/accomplishments/get/name="

    $("#id_name").focus(function(event) {
        submitButton.disabled = true;
    })

    $("#id_name").focusout(function(event) {
        let nameToCheck = nameField.value;

        $.ajax({ 
            type: 'POST', url: nameCheckURL + nameToCheck, data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: nameToCheck},
            success: function(result) {
                duplicateAccomplishmentPrompt.style.display = "block";
                submitButton.disabled = true;
                duplicateAccomplishment = result
                nameField.disabled = true;
            },
            error: function(xhr, errmsg, err) {
                submitButton.disabled = false;
            }
        });
    })

    $("#button-undo").click(function(event) {
        nameField.disabled = false;
        nameField.value = ""

        submitButton.disabled = false;
        duplicateAccomplishmentPrompt.style.display = "none";
    })

    $("#button-accept").click(function(event) {
        descriptionField.value = duplicateAccomplishment.description;
        
        unfocus_all(document.querySelectorAll(".icon-btn"));
        input_change_value(document.querySelector(`#icon-btn-${duplicateAccomplishment.icon}`), '#id_icon')

        nameField.disabled = true;
        descriptionField.disabled = true;
        iconField.disabled = true;

        submitButton.disabled = false;
        duplicateAccomplishmentPrompt.style.display = "none";
    })
</script>
{% endblock %}