<tr class="">
    <td class="p-1 fs-sm" style="width: 1em;">%index%</td>
    <td class="p-1 overflow-hidden text-truncate tooltip-source" style="width: 15em; display: block ruby;"
    data-tooltip-context="%description%" data-tooltip-content="">
        <span class="bi bi-%icon% p-0 m-0" %name_style%> %name%</span>
    </td>
    <td class="p-1" style="width: 7em;"><span class="badge text-bg-primary p-1 m-0 fs-sm fw-normal">%category%</span></td>
    <td class="p-1" style="width: 16em;"></td>
    <td class="p-1 overflow-hidden">%date_created%</td>
</tr>