{% extends "site/site_base.html" %}
{% block title %}Accomplishments{% endblock %}
{% block content %}
<div id="todo-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Add New Accomplishment" id="create_accomplishment" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25 position-relative">
        <div id="duplicate-accomplishment-prompt" class="position-relative" style="display: none;">
            <div id="duplicate-accomplishment-label" class="w-50 p-2 m-auto border border-2 border-dark text-bg-warning rounded-3 text-center">There already exists an Accomplishment with that name.<br>Did you intend on repeating it?</div>
            <div class="d-flex justify-content-between w-50 m-auto position-absolute top-100 start-50 translate-middle">
                <button id="button-accept" class="btn btn-primary text-bg-dark d-block" type="button">Accept</button>
                <button id="button-undo" class="btn btn-primary text-bg-dark d-block" type="button">Undo</button>
            </div>
        </div>
        <div id="accomplishments-wrapper" class="container d-flex py-5">
            <form id="accomplishment-form" method="post" class="m-auto d-flex flex-wrap">
                {% csrf_token %}
                <div class="w-50">
                    {% include 'site/form_field.html' with id="name" field=form.name %}
                    {% include 'site/form_field.html' with id="description" field=form.description optional=True %}
                    {% include 'site/form_field.html' with id="measurement" field=form.measurement optional=True %}
                    {% include 'site/form_field.html' with id="is_achievement" field=form.is_achievement optional=True %}
                    {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type optional=True %}
                    {# Hidden Fields #}
                    {% include 'site/form_field.html' with id="is_repeat" field=form.is_repeat %}
                </div>
                <div class="w-50">
                    {% include 'site/form_field.html' with id="icon" field=form.icon optional=True %}
                    <div class="d-flex flex-wrap" style="width: 27em; gap:.125em">
                        <div class="d-flex flex-wrap w-100">
                        {% for icon in icons %}
                            {% if icon == "$BREAK$" %}
                                </div><div class="d-flex flex-wrap w-100">
                            {% elif icon == "$SPACE$" %}
                                <div style="width: .5em;"></div>
                            {% else %}
                                <button id="icon-btn-{{icon}}" type="button" onclick="input_change_value(this, '#id_icon')", value="{{icon}}" class="icon-btn btn btn-dark border border-secondary p-1 m-0 rounded">
                                    <div class="bi bi-{{icon}} h4 p-0 m-0"></div>
                                </button></i>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div>
                    <button id="button-create" class="btn btn-primary border-primary mt-4 d-block" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .active {
        color: rgb(41, 151, 219) !important;
        background-color: var(--bs-dark) !important;
    }
</style>
<script>
    const duplicateAccomplishmentPrompt = document.getElementById("duplicate-accomplishment-prompt");
    var duplicateAccomplishment = new Object()
    const nameField = document.getElementById("id_name");
    const iconField = document.getElementById("id_icon");
    const descriptionField = document.getElementById("id_description");
    const submitButton = document.getElementById("button-create");

    function unfocus_all(elements){
        elements.forEach(function(element, i) {
            element.classList.remove("active");
        })
    }

    async function input_change_value(button, input){
        if (document.querySelector(input).disabled){
            return; /* Only accept changes if the input field is active */
        }

        document.querySelector(input).value = button.value;
        unfocus_all(document.querySelectorAll(".icon-btn"));

        button.classList.add("active");
    }
    input_change_value(document.querySelector(".icon-btn"), '#id_icon')

    // AJAX Submission
    $("#button-create").click(function(event) {
        event.preventDefault(); // Prevents the button from creating the default HTTPRequest
        submitButton.disabled = true; //  Disables the log in button

        enable_loading_screen();  // Function is defined in site_js

        let form_data = $("#accomplishment-form")
        nameField.disabled = false;
        descriptionField.disabled = false;
        iconField.disabled = false;
        $.ajax({ 
            type: 'POST', url: '{% url "accomplishment:submit_new" %}',
            data: form_data.serializeArray(),
            success: function(json) {
                disable_loading_screen();
                createAlert(text=json["alert-message"], key="", type=json["alert-type"]);
                setTimeout(function() {window.location.replace('{% url "core:user_profile" %}');}, 1000);
            },
            error: function(xhr, errmsg, err) {
                event.target.disabled = false;
                disable_loading_screen();
                createAlert(xhr.responseText, key="", type="danger");
            }
        });
    });

    /* Duplicate Check */
    var nameCheckURL = "{{HOST}}/accomplishments/get/name="

    $("#id_name").focus(function(event) {
        submitButton.disabled = true;
    })

    $("#id_name").focusout(function(event) {
        let nameToCheck = nameField.value;

        $.ajax({ 
            type: 'POST', url: nameCheckURL + nameToCheck, data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name: nameToCheck},
            success: function(result) {
                duplicateAccomplishmentPrompt.style.display = "block";
                submitButton.disabled = true;
                duplicateAccomplishment = result
                nameField.disabled = true;
            },
            error: function(xhr, errmsg, err) {
                submitButton.disabled = false;
            }
        });
    })

    $("#button-undo").click(function(event) {
        nameField.disabled = false;
        nameField.value = ""

        submitButton.disabled = false;
        duplicateAccomplishmentPrompt.style.display = "none";
    })

    $("#button-accept").click(function(event) {
        descriptionField.value = duplicateAccomplishment.description;
        
        unfocus_all(document.querySelectorAll(".icon-btn"));
        input_change_value(document.querySelector(`#icon-btn-${duplicateAccomplishment.icon}`), '#id_icon')

        nameField.disabled = true;
        descriptionField.disabled = true;
        iconField.disabled = true;

        submitButton.disabled = false;
        duplicateAccomplishmentPrompt.style.display = "none";
    })
</script>
{% endblock %}