{% extends "site/site_base.html" %}
{% block title %}Accomplishments{% endblock %}
{% block content %}
<div id="todo-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Accomplishments" id="accomplishments" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25">
        <div id="accomplishments-wrapper" class="container rounded py-2">
            {% include 'site/heading_small.html' with label="Recent Additions" id="recent-additions" %}
            <div class="w-75 d-flex flex-wrap gap-1">
                {% for entry in recent_additions %}
                    <a href="{% url 'accomplishment:add_new' entry.id %}" class="link-underline link-underline-opacity-0">
                        {% with color=colors|random %}
                        <div class="rounded-2 p-1" style="color: var(--bs-{{color}}-font); background-color: var(--bs-{{color}});">{{entry.name}}</div>
                        {% endwith %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}