<tr class="">
    <td class="p-1 fs-sm" style="width: 5%;">%index%</td>
    <td class="p-1 overflow-hidden text-truncate text-nowrap tooltip-source" style="max-width: 10%;"
    data-tooltip-context="%name%" data-tooltip-content="%description%">
        <span class="bi bi-%icon% p-0 m-0" %name_style%> %name%</span>
    </td>
    <td class="p-1">%measurement%</td>
    <td class="p-1"><span class="badge text-bg-primary p-1 m-0 fs-sm fw-normal">%category%</span></td>
    <td class="p-1 overflow-hidden text-truncate text-nowrap">%date_created%</td>
    <div class="dropdown">
        <td class="p-0"><button id="btn-actions" value="%ID%" type="button" data-bs-toggle="dropdown" class="dropdown-toggle btn btn-primary d-block m-auto mt-auto p-1 fs-sm" style="margin-top: 0.1em !important;">Actions</button>
        <ul class="dropend dropdown-menu fs-sm">
            <li><a class="dropdown-item" href=%repeatURL%><span class="bi bi-repeat"></span> <span id="repeat">Repeat Milestone</span></a></li>
            <li><a class="dropdown-item" href="edit/%ID%"><span class="bi bi-journal-check"></span> <span id="edit-user-accomplishments">Edit Milestone</span></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="edit/%ID%/details"><span class="bi bi-list-ul"></span> <span id="edit-accomplishment-details">Edit Accomplishment</span></a></li>
            <li><hr class="dropdown-divider"></li>
            <li id="delete-accomplishment-btn-%ID%" data-accomp-id="%ID%"><a class="dropdown-item text-danger"><span class="bi bi-x-circle"></span> <span id="delete">Delete Milestone</span></a></li>
        </ul>
        </td>
    </div>
</tr>