{% extends "site/site_base.html" %}
{% block title %}Calendar -{% endblock %}
{% block popups %}{% endblock %}
{% block content %}
<div id="accomplishments-overview" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Calendar" id="calendar" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25">
        <div id="accomplishments-wrapper" class="container rounded py-2">
            {{entries}}
        </div>
    </div>
</div>
{% endblock %}