<div id="import_profile_mapping_container" class="container rounded bg-dark p-2 h-25 mh-25">
    <label class="form-label">
        Customise Mapping
    </label>

    <table class="table" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <thead>
            <tr>
                <th scope="col">File Header</th>
                <th scope="col">Destination Column</th>
                <th scope="col" class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% comment %} Existing Rows {% endcomment %}
            {% for mapping in mappings %}
            <tr id="tr_{{ mapping.id }}">
                <td>
                    <input type="email" id="txtNewFromFileHeader{{ mapping.id }}" class="form-control" placeholder="New File Header" value="{{ mapping.from_file_header }}"/>
                </td>
                <td class="align-middle">
                    <select name="cbo_destination_column" id="cbo_destination_column{{ mapping.id }}" class="form-select">
                        {% for value, label in destination_columns %}
                            {% if label == mapping.to_transaction_header %}
                                <option selected value="{{ value }}">{{ label }}</option>
                            {% else %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="align-middle">
                    <div class="d-flex justify-content-center gap-2">
                        <button type="submit" class="btn btn-success" value="{{ mapping.id }}"
                            hx-trigger="click"
                            hx-target="this"
                            hx-swap="none"
                            hx-post="{% url 'finance:save_import_profile_mapping' %}"
                            hx-vals='js:{
                                mapping_id: {{ mapping.id }},
                                from_file_header: document.getElementById("txtNewFromFileHeader{{ mapping.id }}").value,
                                to_transaction_header: document.getElementById("cbo_destination_column{{ mapping.id }}").value
                            }'
                        >Save</button>
                        <button type="submit" class="btn btn-danger" value="{{ mapping.id }}"
                                hx-trigger="click"
                                hx-target="#tr_{{ mapping.id }}"
                                hx-swap="outerHTML swap:0s"
                                hx-delete="{% url 'finance:delete_import_profile_mapping' mapping.id %}"
                                hx-confirm="Really delete {{ mapping.from_file_header }}?"
                        >Delete</button>
                    </div>
                </td>
            </tr>
            {% endfor %}

            {% comment %} New Rows {% endcomment %}
            <tr id="tr_new_row">
                <td>
                    <input type="email" id="txtNewFromFileHeader" class="form-control" placeholder="New File Header"/>
                </td>
                <td class="align-middle">
                    <select name="cbo_destination_column" id="cbo_destination_column" class="form-select">
                        <option value="">Select a destination column</option>
                        {% for value, label in destination_columns %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="align-middle">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" value="-1" id="btnAddProfileMapping"
                                hx-trigger="click"
                                hx-target="#tr_new_row"
                                hx-swap="beforebegin"
                                hx-post="{% url 'finance:save_import_profile_mapping' %}"
                                hx-vals='js:{
                                    mapping_id: -1,
                                    from_file_header: document.getElementById("txtNewFromFileHeader").value,
                                    to_transaction_header: document.getElementById("cbo_destination_column").value
                                }'
                        >Add</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
