<tr>
    <td>{{ record.name }}</td>
    <td>{{ record.description }}</td>
    <td>
        <button class="btn btn-sm btn-outline-primary me-1"
                hx-get="{% url 'finance:transaction_category_edit' record.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">Edit</button>
        <button class="btn btn-sm btn-outline-danger"
                hx-delete="{% url 'finance:transaction_category_delete' record.pk %}"
                hx-target="closest tr"
                hx-confirm="Are you sure?">Delete</button>
    </td>
</tr>