{% extends "site/site_base.html" %}
{% block title %}Accomplishments{% endblock %}
{% block content %}
{% load static %}
<div id="todo-section" class="container-sm pb-4 w-100">
    {% include 'site/heading_section.html' with label="Edit User Accomplishment" id="edit-user-accomp" %}
    <div id="accomplishments" class="container rounded bg-dark p-2 h-25 mh-25 position-relative">
        <div id="accomplishments-wrapper" class="d-flex py-5">
            <form id="accomplishment-form" method="post" class="m-auto d-flex justify-content-center flex-wrap gap-3 w-100">
                {% csrf_token %}
                <div class="w-fit">
                    <div id="" class="d-flex gap-2 w-fit">
                        {% include 'site/form_field.html' with id="name" field=form.name %}
                        {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type optional=True %}
                    </div>
                    {% include 'site/form_field.html' with id="description" field=form.description optional=True field_class='w-fit' %}
                </div>
                <div class="w-fit pt-4">
                    {% include 'site/form_field.html' with id="is_achievement" field=form.is_achievement field_class="d-flex" %}
                    <div id="measurement-section" class="d-flex gap-2">
                        {% include 'site/form_field.html' with id="" field=form.measurement %}
                    </div>
                </div>
                {% include 'temp_accomp_icon_selection.html' with icons=icons initial=initial %}
                <div class="d-flex gap-2 py-4 m-auto" style="width: fit-content;">
                    <button id="btn-apply-changes" class="btn btn-primary border-primary" type="submit">Submit Change</button>
                    <a href="{% url 'accomplishment:overview' %}"><button id="btn-abort" class="btn btn-danger" type="button">Abort</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .d-flex > p + input {
        margin-left: 1em;
    }
</style>
<script>
</script>
{% endblock %}