{% load static %}
<div id="new-accomp-popup" class="container" style="display: none; margin-bottom: 6rem !important;">
    {% include 'site/heading_section.html' with label="Add New Accomplishment" id="create-accomp" %}
    <div class="rounded bg-dark px-5 d-block py-4 position-relative">
        {% include 'temp_accomp_info.html' %}
        <form id="accomplishment-form" method="post" class="m-auto d-flex justify-content-center flex-wrap mx-5" style="width: 700px;">
            {% csrf_token %}
            <div class="ms-auto" style="width: 60%;">
                <div id="" class="d-flex gap-2">
                    {% include 'site/form_field.html' with id="name" field=form.name hidden=True %}
                    {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type %}
                    <datalist id="type-suggestions">
                        {% for category in categories %}
                        <option value={{category}}></option>
                        {% endfor %}
                    </datalist>
                    {% include 'site/form_field.html' with id="is_achievement" field=form.is_achievement %}
                </div>
                {% include 'site/form_field.html' with id="description" field=form.description %}
                {% include 'site/form_field.html' with id="is_repeat" field=form.is_repeat %}
            </div>
            <div class="d-flex flex-column justify-content-center p-2 rounded-3 bg-primary-subtle" style="width: 40%;">
                <div id="measurement-section" class="d-flex gap-2 w-fit m-auto">
                    {% include 'site/form_field.html' with id="value" field=form.measurement_quantity %}
                    {% include 'site/form_field.html' with id="measurement" field=form.measurement %}
                    <datalist id="measurement-suggestions">
                        {% for measurement in measurements %}
                        <option value={{measurement.0}}>{{measurement.0}} ({{measurement.1}})</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div id="timeframe-section" class="w-fit m-auto">
                    <div class="d-flex gap-2">
                        <div id="lb-date-from" style="width: 3em;">From</div>
                        <input type="date" class="form-control" id="id_date_from" style="padding: .2em; text-transform: uppercase; width: 120px;">
                    </div>
                    <div class="d-flex gap-2">
                        <div id="lb-date-to" style="width: 3em;">To</div>
                        <input type="date" class="form-control" id="id_date_to" style="padding: .2em; text-transform: uppercase; width: 120px;">
                    </div>
                </div>
            </div>
            {% include 'temp_accomp_icon_selection.html' with icons=icons initial=initial %}
            </div>
            <div class="d-flex gap-2 mt-4 pb-4 m-auto" style="width: fit-content;">
                <button id="btn-create" class="btn btn-primary border-primary d-block m-auto" type="submit">Create</button>
                <a href="{% url 'accomplishment:overview' %}"><button id="btn-abort" class="btn btn-danger" type="button">Abort</button></a>
            </div>
            </div>
        </form>
    </div>
</div>
<style>
    .active {
        color: rgb(41, 151, 219) !important;
        background-color: var(--bs-dark) !important;
    }

    .d-flex > p + input {
        margin-left: 1em;
    }

    /* Achievement Button Styling */
    #id_is_achievement {
        --bs-form-check-bg-image: url({% static 'icons/task/award.svg' %});
    }
    #id_is_achievement:checked {
        background-color: #e2cf20;
        border-color: #e2cf20;
        --bs-form-check-bg-image: url({% static 'icons/task/award-fill.svg' %});
    }
    #id_is_achievement:focus {
        border-color: #e2cf20;
        box-shadow: 0 0 0 0.25rem rgba(250, 228, 26, 0.25);
    }
</style>