<div id="edit-template-popup" class="container" style="display: none; margin-bottom: 12rem !important;">
    {% include 'site/heading_section.html' with label="Edit Accomplishment" id="edit-user-accomp" class='m-auto' %}
    <div class="rounded bg-dark px-5 d-block pb-4">
        <div id="edit-accomp-wrapper" class="px-5 py-2">
            <div class="w-fit m-auto px-3 py-2 mb-3 text-center">
                <span id="edit-accomp-icon"> </span><span id="edit-accomp-name"></span><br>
                <span id="lb-created-on">Created on</span> <span id="edit-accomp-created"></span>
            </div>
            <form id="edit-accomp-form" method="post" class="m-auto d-flex justify-content-center flex-wrap gap-5">
                {% csrf_token %}
                <div class="w-fit">
                    <div id="" class="d-flex gap-2 w-fit">
                        {% include 'site/form_field.html' with id="name" field=form.name %}
                        {% include 'site/form_field.html' with id="accomplishment_type" field=form.accomplishment_type optional=True %}
                    </div>
                    {% include 'site/form_field.html' with id="description" field=form.description optional=True field_class='w-fit' %}
                </div>
                <div class="w-fit pt-4">
                    {% include 'site/form_field.html' with id="is_achievement" field=form.is_achievement field_class="d-flex" %}
                    <div id="measurement-section" class="d-flex gap-2">
                        {% include 'site/form_field.html' with id="" field=form.measurement %}
                    </div>
                </div>
            </div>
            <div class="d-flex gap-2 pt-4 m-auto" style="width: fit-content;">
                <button id="btn-apply-changes" class="btn btn-primary border-primary" type="button">Submit Change</button>
                <button id="btn-abort" class="btn btn-danger" type="button">Abort</button>
            </div>
        </form>
    </div>
</div>