<div id="name-prompt-popup" class="container" style="display: none; margin-bottom: 12rem !important;">
    {% include 'site/heading_section.html' with label="Create New Accomplishment" id="create-accomp" class='m-auto' %}
    <div class="rounded bg-dark px-5 d-block pb-4">
        <span class="bi bi-alphabet-uppercase background-bi bi-edit-accomp h1 p-0 m-0 position-absolute"></span>
        <div id="name-prompt-wrapper" class="px-5 py-2">
            <input type="text" list="accomp-suggestions" class="form-control text-center m-auto"
                id="lb-new-accomp-prompt" placeholder="Create New or Find an existing one..."
                style="width: 20em; font-size: 1.25em !important;">
            <datalist id="accomp-suggestions">
            </datalist>
            <div class="w-75 m-auto" style="height: 4em;">
                <p id="lb-name-available" class="text-success text-center p-1 rounded" style="display: none;">This name
                    is available!</p>
                <p id="lb-name-taken-prompt" class="text-center p-1 rounded" style="display: none;"><span
                        id="lb-name-taken" class="text-warning">There already exists an Accomplishment with this
                        name!</span>
                    <br><span class="" id="found-accomp"></span>
                </p>
            </div>
            <div class="d-flex gap-2 justify-content-center pt-1" style="width: 600px;">
                <button id="btn-repeat" class="btn btn-primary border-primary bi bi-repeat" type="button"
                    style="display: none;">Repeat</button>
                <a id="create-link" onclick="initiateCreate()"><button disabled id="btn-create-new"
                        class="btn btn-primary border-primary" type="button">Create New</button></a>
                <button id="btn-abort" class="btn-abort-edit btn btn-danger" type="button">Abort</button>
            </div>
        </div>
    </div>
</div>