{% load static %}
<div id="new-accomp-popup" class="container" style="display: none; margin-bottom: 6rem !important;">
    {% include 'site/heading_section.html' with label="Add New Accomplishment" id="create-accomp" %}
    <div class="rounded bg-dark px-5 d-block py-4 position-relative">
        <div class="position-relative" style="top: 0%; top: -20% !important">
            <span class="bi bi-journal-text background-bi bi-edit-accomp h1 p-0 m-0 position-absolute"></span>
            <span class="bi bi-plus background-bi bi-edit-accomp h1 p-0 m-0 position-absolute" style="left: 2% !important; top: -154px !important; font-size: 28em !important;"></span>
        </div>
        {% include 'temp_accomp_info.html' %}
        <form id="accomplishment-form" method="post" class="m-auto d-flex justify-content-center flex-wrap mx-5" style="width: 700px;">
            {% csrf_token %}
            <div class="ms-auto" style="width: 60%;">
                <div id="" class="d-flex gap-2">
                    {% include 'site/temp_form_field.html' with id="name" field=form.name hidden=True %}
                    {% include 'site/temp_form_field.html' with id="accomplishment_type" field=form.accomplishment_type %}
                    <datalist id="type-suggestions">
                        {% for category in categories %}
                        <option value={{category}}></option>
                        {% endfor %}
                    </datalist>
                    {% include 'site/temp_form_field.html' with id="is_achievement" field=form.is_achievement %}
                </div>
                {% include 'site/temp_form_field.html' with id="description" field=form.description %}
                {% include 'site/temp_form_field.html' with id="is_repeat" field=form.is_repeat %}
            </div>
            <div class="p-2 rounded-3 bg-primary-subtle" style="width: 40%;">
                <div id="measurement-section" class="d-flex gap-2 w-fit mx-auto my-0" style="max-height: 70px; height: 70px;">
                    {% include 'site/temp_form_field.html' with id="measurement-value" field=form.measurement_quantity %}
                    {% include 'site/temp_form_field.html' with id="measurement-type" field=form.measurement %}
                    <datalist id="measurement-suggestions">
                        {% for measurement in measurements %}
                        <option value={{measurement.0}}>{{measurement.0}} ({{measurement.1}})</option>
                        {% endfor %}
                    </datalist>
                </div>
                {% include 'temp_timeframe_selection.html' with popup='new-accomp-popup' %}
            </div>
            {% include 'temp_accomp_icon_selection.html' with icons=icons initial=initial popup='new-accomp-popup' %}
            </div>
            <div class="d-flex gap-2 mt-4 pb-4 m-auto" style="width: fit-content;">
                <button id="btn-create" class="btn btn-success border-success d-block m-auto" type="submit">Create</button>
                <a><button id="btn-abort" class="btn btn-danger" type="button">Abort</button></a>
            </div>
            </div>
        </form>
    </div>
</div>