<div class="w-100">
    {% include 'site/temp_form_field.html' with id="accomp-icon" field=form.icon hidden=True %}{# Hidden Field #}
    <div class="m-auto" style="width: fit-content; gap:.125em">
        <div id="lb-accomp-icon">
            Icon
        </div>
        <div class="d-flex flex-wrap">
        {% for icon in icons %}
            {% if icon == "$BREAK$" %}
                </div><div class="d-flex flex-wrap m-auto w-fit">
            {% elif icon == "$SPACE$" %}
                <div style="width: .5em;"></div>
            {% else %}
                <button id="icon-btn-{{icon}}" type="button" onclick="input_change_value(this, '#id_icon')", value="{{icon}}" class="icon-btn btn btn-dark border border-secondary p-1 m-0 rounded">
                    <div class="bi bi-{{icon}} h4 p-0 m-0"></div>
                </button></i>
            {% endif %}
        {% endfor %}
        </div>
    </div>
<div>
<script>
    var source = "{{popup}}"
    var iconField = document.querySelector(`#${source} #id_icon`);

    iconField.disabled = false;

    function unfocus_all(elements){
        elements.forEach(function(element, i) {
            element.classList.remove("active");
        })
    }

    async function input_change_value(button, input){
        if (document.querySelector(input).disabled){
            return; /* Only accept changes if the input field is active */
        }

        document.querySelector(input).value = button.value;
        unfocus_all(document.querySelectorAll(".icon-btn"));

        button.classList.add("active");
    }

    /* Check if an icon (when repeating an Accomplishment) is defined, if not use the default icon. */
    if ('{{initial.icon}}' != ''){ input_change_value(document.querySelector(`#${source} #icon-btn-{{initial.icon}}`), `#${source} #id_icon`); }
        else{ input_change_value(document.querySelector(`#${source} .icon-btn`), `#${source} #id_icon`); }
</script>